{% if craft.app.session.hasFlash('notice') %}
    <div id="flash-message" class="success flex-initial w-full py-2 flex items-center justify-center bg-white">
        <span class="flex-initial text-2xl text-white px-4 py-2 border border-solid border-occ-navy-blue bg-occ-royal-blue rounded-sm">{{ craft.app.session.getFlash('notice') }}</span>
    </div>
{% elseif craft.app.session.hasFlash('error') %}
    <div id="flash-message" class="error flex-initial w-full py-2 flex items-center justify-center bg-white">
        <span class="flex-initial text-2xl text-yellow-400 px-4 py-2 border border-solid border-red-500 bg-red-400 rounded-sm">{{ craft.app.session.getFlash('error') }}</span>
    </div>
{% endif %}

{# {% js '/assets/js/flash-message.js' %} #}
