{% set sectionConfig = {anchor:'main-nav-section',wrapPadding:'p-0',padding:'py-0 px-4 lg:px-22',zIndex:'z-5',} %}
{% embed '/_partials/section' with sectionConfig %}
    {% block content %}
        {% if pageIsLive is not defined %}
            <div class="flex-initial w-full max-w-content flex items-center justify-between h-20">
                <div class="flex-initial w-full flex items-center justify-start">
                    <a href="{{ headerLogo.text }}">
                        <img class="logo" src='{{ headerLogo.image.one().getUrl('width250') }}' alt="{{ headerLogo.image.one().altText }}" />
                    </a>
                </div>

                <div class="flex-initial w-full flex items-center justify-center">

                    {# desktop #}
                    {%
                        include '/_partials/nav/desktop-main'
                    %}
                    
                    {# mobile #}
                    {%
                        include '/_partials/nav/mobile-main'
                    %}

                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
