{% set contact = header.globalHeaderContactInformation %}

{% if contact is defined and contact and contact.count() > 0 %}
    <div class="contact-nav-outer-container w-full h-12 bg-white items-center hidden lg:flex">
        <div class="contact-nav-inner-container flex-1 flex items-center justify-center w-full h-full max-w-content mx-auto bg-white">
            <nav class="nav flex items-center">
                {% for nav in contact.all() %}
                    <span class="flex items-center space-x-1 px-4 text-md font-semibold text-primary">
                        {% switch nav.type.handle %}
                            {% case 'address' %}
                                <i class="{{nav.icon}}"></i>
                                <a href="https://www.google.com/maps/search/{{ nav.text }}" class="nav-link" target="_blank">
                                    {{ nav.text }}
                                </a>
                            {% case 'email' %}
                                <i class="{{nav.icon}}"></i>
                                <a href="mailto:{{ nav.address }}" class="nav-link" target="_blank">
                                    {{ nav.address }}
                                </a>
                            {% case 'phone' %}
                                <i class="{{nav.icon}}"></i>
                                <a href="tel:{{ nav.number }}" class="nav-link">
                                    {{ nav.number }}
                                </a>
                        {% endswitch %}
                    </span>
                {% endfor %}
            </nav>
        </div>
    </div>
{% endif %}