{% set _baseSize = '12' %}
{% set _baseTextSize = 'text-base' %}
{% set _baseTextColor = 'text-white' %}
{% set _baseBgColor = 'bg-occ-navy-blue' %}
{% set _baseRadius = 'rounded-none' %}

{% if size is not defined or size is empty %}
    {% set size = _baseSize %}
{% endif %}

{% if textSize is not defined or textSize is empty %}
    {% set textSize = _baseTextSize %}
{% endif %}

{% if textColor is not defined or textColor is empty %}
    {% set textColor = _baseTextColor %}
{% endif %}

{% if bgColor is not defined or bgColor is empty %}
    {% set bgColor = _baseBgColor %}
{% endif %}

{% if radius is not defined or radius is empty %}
    {% set radius = _baseRadius %}
{% endif %}

{% if icon is defined and icon is not empty %}
    <div class="flex-initial w-{{ size }} h-{{ size }} {{ textColor }} {{ bgColor }} {{ radius }} flex items-center justify-center">
        <i class="{{ icon }} {{ textSize }}"></i>
    </div>
{% endif %}