<div id="{{ id }}" class='lightbox-overlay flex-initial w-full h-screen invisible fixed top-0 right-0 bottom-0 left-0 z-99999'>

    <div class='flex-initial w-full h-screen fixed top-0 right-0 bottom-0 left-0 bg-black bg-opacity-90'>
        &nbsp;
    </div>

    <div class='flex-initial w-full fixed top-0 right-0 bottom-0 left-0 flex items-center justify-center'>

        {% if video is defined and video is not empty %}
            <div class='flex-initial w-2/3'>
                <div class="bp-player w-full plyr__video-embed player">
                    {% embed '/_partials/media-player' with {videoSrc: video} %}{% endembed %}
                </div>
            </div>
        {% elseif image is defined and image is not empty %}
            <div class='flex-initial w-2/3' style='background-image: url({{ image }})'>
            </div>
        {% endif %}

    </div>

    <div class='flex-initial fixed top-0 right-0 pt-5 pr-5'>
        <div class="close-button flex-initial w-10 h-10 text-white hover:text-occ-royal-blue text-4xl font-extrabold border border-solid border-white hover:border-occ-royal-blue rounded-full flex items-center justify-center">
            &times;
        </div>
    </div>

</div>

{# {% js '/assets/js/lightbox.js' %} #}