{% if videoSrc is defined and videoSrc is not empty %}
    {# <div class="bp-player plyr__video-embed player" id="media-player-id"> #}
    <div class="bp-player media-player-id plyr__video-embed player">
        <iframe
            src="{{ videoSrc }}"
            allowtransparency
            class="bp-player-iframe"
            controls data-plyr-config='{ "title": "Media Player", autoplay: true }'            
            allow="autoplay"
            title="video media player"
        ></iframe>
    </div>
{% endif %}