{% if link is defined and link is not empty %}

    {% if forceNoButton is not defined or forceNoButton is empty %}
        {% set forceNoButton = false %}
    {% endif %}

    {% set isButton = link.isButton %}
    {% set linkType = isButton and not forceNoButton ? 'b-link' : 't-link' %}

    {% set text = null %}
    {% if link.text is defined and link.text is not empty %}
        {% if 'as-typed' in link.textCase.value %}
            {% set text = link.text %}
        {% else %}
            {% set text = link.text|lower %}
        {% endif %}
    {% elseif link.text is empty and link.icon is not empty %}
        {% set linkType = 'i-link' %}
    {% endif %}

    {% set textCase = 'title' %}
    {% if link.textCase is defined and link.textCase.value is not empty %}
        {% set textCase = link.textCase.value %}
    {% endif %}

    {% set target = '_self' %}
    {% if link.target is defined and link.target is not empty %}
        {% set target = link.target.value %}
    {% endif %}

    {# rel="noreferrer" #}
    {% set rel = '' %}
    {% if target is same as('_blank') %}
        {% set rel = 'noreferrer' %}
    {% endif %}

    {% set url = '' %}
    {% if link.internalAddress is defined and link.internalAddress and link.internalAddress.count() > 0 %}
        {% set url = link.internalAddress.one().getUrl() %}
    {% elseif link.externalAddress is defined and link.externalAddress is not empty %}
        {% set url = link.externalAddress %}
    {% endif %}

    {% if link.anchor is defined and link.anchor is not empty %}
        {% set url = url ~ '#' ~ link.anchor %}
    {% endif %}

    {% set textColor = 'text-color-error' %}
    {% if link.textColor is defined and link.textColor.value is not empty %}
        {% set textColor = link.textColor.value %}
    {% endif %}

    {% set textHoverColor = 'text-hover-color-error' %}
    {% if link.textHoverColor is defined and link.textHoverColor.value is not empty %}
        {% set textHoverColor = link.textHoverColor.value %}
    {% endif %}

    {% set textHoverUnderlineColor = 'text-hover-underline-color-error' %}
    {% if link.textHoverUnderlineColor is defined and link.textHoverUnderlineColor.value is not empty %}
        {% set textHoverUnderlineColor = link.textHoverUnderlineColor.value %}
    {% endif %}

    {% set buttonBorderColor = 'btn-border-color-error' %}
    {% if link.buttonBorderColor is defined and link.buttonBorderColor.value is not empty %}
        {% set buttonBorderColor = link.buttonBorderColor.value %}
    {% endif %}

    {% set buttonHoverBorderColor = 'btn-hover-border-color-error' %}
    {% if link.buttonHoverBorderColor is defined and link.buttonHoverBorderColor.value is not empty %}
        {% set buttonHoverBorderColor = link.buttonHoverBorderColor.value %}
    {% endif %}

    {% set buttonBackgroundColor = 'btn-bgcolor-error' %}
    {% if link.buttonBackgroundColor is defined and link.buttonBackgroundColor.value is not empty %}
        {% set buttonBackgroundColor = link.buttonBackgroundColor.value %}
    {% endif %}

    {% set buttonHoverBackgroundColor = 'btn-hover-background-color-error' %}
    {% if link.buttonHoverBackgroundColor is defined and link.buttonHoverBackgroundColor.value is not empty %}
        {% set buttonHoverBackgroundColor = link.buttonHoverBackgroundColor.value %}
    {% endif %}

    {% set buttonStyle = 'btn-hover-background-color-error' %}
    {% if link.buttonStyle is defined and link.buttonStyle.value is not empty %}
        {% set buttonStyle = link.buttonStyle.value %}
    {% endif %}

    {% if additionalClass is not defined %}
        {% set additionalClass = null %}
    {% endif %}

    {% if forceCase is defined and forceCase is not empty %}
        {% set textCase = forceCase %}
    {% endif %}

    {% if text is null %}
        {% set additionalClass = additionalClass ~ ' py-1' %}
    {% endif %}

    {% set justification = 'justify-center' %}
    {% if link.hAlign is defined and link.hAlign is not empty %}
        {% set justification = link.hAlign %}
    {% endif %}

    <a href="{{ url }}" class="bt-link {{ additionalClass }}" target="{{ target }}" rel="{{ rel }}">
        <div class="{{ linkType }} {{ buttonBorderColor }} {{ buttonHoverBorderColor }} {{ buttonBackgroundColor }} {{ buttonHoverBackgroundColor }} {{ buttonStyle }}">
            <span class="text flex items-center {{ justification }} {{ textColor }} {{ textHoverColor }} {{ textHoverUnderlineColor }} {{ textCase }}">
                {% if linkType is same as('i-link') %}
                        <i class="icon flex-initial {{ link.icon }}"></i>
                {% else %}
                    {% if link.icon is defined and link.icon is not empty and not link.iconLocation %}
                        <i class="icon flex-initial mr-2 {{ link.icon }}"></i>
                    {% endif %}
                    {% if text is defined and text is not empty %}
                        {{ text }}
                    {% endif %}
                    {% if link.icon is defined and link.icon is not empty and link.iconLocation %}
                        <i class="icon flex-initial ml-2 {{ link.icon }}"></i>
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </a>

{% endif %}

{# 
    link: {
        text: 'Learn More',
        textCase: {value: 'capitalize'},
        internalAddress: null,
        externalAddress: '/faculty/' ~ card.slug,
        anchor: null,
        target: {value: '_self'},
        textColor: {value: 'text-color-white'},
        textHoverColor: {value: 'text-hover-color-white'},
        textHoverUnderlineColor: {value: 'text-hover-underline-color-primary'},
        icon: {value: 'fas fa-long-arrow-alt-right'},
        iconLocation: true,
        isButton: false,
        buttonBorderColor: {value: ''},
        buttonHoverBorderColor: {value: ''},
        buttonBackgroundColor: {value: ''},
        buttonHoverBackgroundColor: {value: ''},
        buttonStyle: {value: ''},
        forceCase: false,
        forceNoButton: false
    }
#}
