{% if anchor is not defined or anchor is empty %}
    {% set anchor = '' %}
{% endif %}

{% if wrapPadding is not defined or wrapPadding is empty %}
    {% set wrapPadding = 'p-0' %}
{% endif %}

{% if bgColor is not defined or bgColor is empty %}
    {% set bgColor = 'bg-transparent' %}
{% endif %}

{% if padding is not defined or padding is empty %}
    {% set padding = 'p-0' %}
{% endif %}

{% set minH = '' %}
{% if minHeight is defined and minHeight is not empty %}
    {% set minH = minHeight %}
{% endif %}

{% set maxH = '' %}
{% if maxHeight is defined and maxHeight is not empty %}
    {% set maxH = maxHeight %}
{% endif %}

{% set bgImg = '' %}
{% if bgImgUrl is defined and bgImgUrl is not empty %}
    {% set bgImg = 'background-image: url(' ~ bgImgUrl ~ ');' %}
{% endif %}

{% if vAlign is not defined or vAlign is empty %}
    {% set vAlign = 'items-start' %}
{% endif %}

{% if hAlign is not defined or hAlign is empty %}
    {% set hAlign = 'justify-center' %}
{% endif %}

{% if zIndex is not defined or zIndex is empty %}
    {% set zIndex = null %}
{% endif %}

{% if height is not defined or height is empty %}
    {% set height = '' %}
{% endif %}

<section id="{{anchor}}" class="section-container {{ height }} {{ padding }} {{ bgColor }} {{ vAlign }} {{ hAlign }} {{ zIndex }} {{ minH }} {{ maxH }}" style="{{ bgImg }}">
    {% if colorOverlay is defined and colorOverlay %}
        <div class="color-overlay"></div>
    {% endif %}
    <div class="section-content-container {{ wrapPadding }} {{ vAlign }} {{ hAlign }}">
        {% block content %}
        {% endblock %}
    </div>
</section>