{% extends '_layouts/main-with-sidebar-menu' %}

{% block pageIntro %}
    {%
        include './_pages/disability-services/components/intro' with {
            heading: entry.headingText,
            body: entry.bodyText,
            image: entry.image,
            hAlign: entry.hAlign,
            vAlign: entry.vAlign,
            zIndex: 'z-4',
        }
    %} 
{% endblock %}

{% block sideMenu %}
    {% include '/_pages/disability-services/components/side-menu' %}
{% endblock %}


{% block rightSideContent %}

    {% set sectionConfig = {anchor:'commitment',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/disability-services/components/commitment' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'accomodation',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/disability-services/components/accomodation' %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% css %}
{% endcss %}