{% extends '_layouts/main' %}

{% block maincontent %}

    {% include '/_pages/home/components/intro' %}

    {% set sectionConfig = {anchor:'informational',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/home/components/informational' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'academics',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/home/components/academics' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'scholarships',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/home/components/scholarships' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'community',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/home/components/community' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'faqs',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/home/components/faqs' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'start-today',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/home/components/start-today' %}
        {% endblock %}
    {% endembed %}

{% endblock %}