<div id="concentrations-container" class="flex-initial relative w-full h-full pt-4 flex flex-wrap items-start justify-between bg-white">
    {% if entry.courseEntries is not empty %}
        {% for course in entry.courseEntries.all() %}
            <div class="flex-initial w-full md:w-1/2 px-4 mb-12 flex flex-wrap items-center justify-center">

                <div class="flex-initial w-full border border-solid border-navy-blue shadow-lg">
                    <div class="bp-player w-full plyr__video-embed player">
                        {% 
                            embed '/_partials/media-player' with {
                                videoSrc: course.video
                            }
                        %}
                        {% endembed %}
                    </div>

                    <div class="flex-initial h-40 w-full px-4 py-4 flex items-start">
                        <div class="w-12 h-12 text-white bg-occ-dark text-2xl hidden"></div>

                        <div class="flex-initial w-12 h-12 flex items-center justify-center bg-occ-royal-blue">
                            {{ svg( course.academicsCardIcon.one() ) }}
                        </div>

                        <div class="flex-initial w-full pl-4 flex flex-wrap space-y-4 items-center justify-start">
                            <div class="flex-initial w-full p-0 text-occ-navy-blue text-xl leading-7 font-medium heading-text">
                                {{ course.title }}
                            </div>

                            <div class="flex-initial w-full text-base font-normal leading-6 text-occ-text-gray">
                                {{ course.bodyText }}
                            </div>
                        </div>
                    </div>

                    <div class="flex-initial w-full flex items-center px-2 py-4 mt-2 bg-occ-royal-blue">
                        <span class="flex-initial pl-3">
                                        {# externalAddress: '/concentration/' ~ course.slug, #}
                            {%
                                include  '/_partials/navigation' with {
                                    link: {
                                        text: 'Learn More',
                                        textCase: {value: 'capitalize'},
                                        internalAddress: null,
                                        externalAddress: course.getUrl(),
                                        anchor: null,
                                        target: {value: '_self'},
                                        textColor: {value: 'text-color-white'},
                                        textHoverColor: {value: 'text-hover-color-white'},
                                        textHoverUnderlineColor: {value: 'text-hover-underline-color-transparent'},
                                        icon: null,
                                        iconLocation: false,
                                        isButton: false,
                                        buttonBorderColor: {value: ''},
                                        buttonHoverBorderColor: {value: ''},
                                        buttonBackgroundColor: {value: ''},
                                        buttonHoverBackgroundColor: {value: ''},
                                        buttonStyle: {value: ''},
                                        forceCase: false,
                                        forceNoButton: false
                                    }
                                }
                            %}
                        </span>
                    </div>
                </div>

            </div>
        {% endfor %}
    {% endif %}
</div>