<div id="disabilities-container" class="flex-initial relative w-full px-2 py-8 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full px-2 flex">
        <div class="flex-initial w-full text-occ-navy-blue font-extrabold text-xl lg:text-3xl leading-7 z-4">
            {{ entry.text }}
        </div>
    </div>

    <div class="flex-initial w-full px-2 py-8 flex items-center justify-center">
        <span class="flex-initial text-sm lg:text-base leading-5 lg:leading-6 font-normal ">
            {{ entry.disablityServicesBody }}
        </span>
    </div>

    <div class="flex-initial w-full px-2 flex items-center justify-start">
        <span class="flex-initial text-xs lg:text-base leading-5 lg:leading-6 font-semibold ">
            {%
                include '/_partials/navigation' with { 
                    link: entry.academicsDisabilityBlockNav.one().linkMatrix.one()
                }
            %}
        </span>
    </div>

</div>