<div id="faculty-container" class="flex-initial relative w-full h-full lg:pl-12 px-4 py-8 flex flex-wrap items-center justify-between bg-white">

    {% if entry.featuredFaculty is defined and entry.featuredFaculty is not empty %}
        <input type="range" min="0" max="{{ entry.featuredFaculty.count() - 1 }}" value="0" class="hidden lg:flex flex-grow slider vertical absolute" id="faculty-slider" role="slider" title="faculty slider">
    {% endif %}

    <div class="flex-initial w-full pb-4 -mt-4 flex items-center justify-start">
        <span class="pr-8 text-2xl lg:text-3xl leading-7 font-extrabold text-occ-navy-blue">
            Featured Faculty
        </span>
        <span class="flex-initial hidden lg:flex">
            {% if entry.academicsFacultyLinkEntries.one() %}
                {% include  '/_partials/navigation' with {link: entry.academicsFacultyLinkEntries.one().linkMatrix.one()} %}
            {% endif %}
        </span>

    </div>

    <div class="flex-initial overflow-hidden w-full border border-solid border-navy-blue lg:border-0 shadow-lg lg:shadow-none flex items-start">
        {% for faculty in entry.featuredFaculty.all() %}
            <div class="slide-card flex-initial w-full py-4 justify-between flex items-start">
                {% if faculty.facultyImages is defined and faculty.facultyImages is not empty %}
                    <div class="flex-initial flex flex-wrap lg:flex-nowrap overflow-hidden mr-2 justify-center">
                        <div class="flex-initial w-28 xxs:w-36 lg:w-56 h-28 xxs:h-36 lg:h-56 min-w-28 xxs:min-w-36 lg:min-w-56 bg-cover" style="background-image: url('{{ faculty.facultyImages.one().getUrl('squareThumb') }}');">
                            &nbsp;
                        </div>

                        <div class="flex-initial w-full flex lg:hidden items-center justify-center">
                            <div class="flex-initial lg:hidden pr-2 flex items-center justify-center text-xs lg:text-base leading-5 lg:leading-6 font-medium">
                                <a href="tel:{{ faculty.phone }}" class="bt-link py-1" target="_self" aria-label="phone number">
                                    <div class="i-link btn-border-color-secondary btn-hover-border-color-secondary btn-bgcolor-secondary btn-hover-background-color-secondary rectangle">
                                        <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize">
                                            <svg class="svg-inline--fa fa-phone fa-w-16 icon flex-initial" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><!-- <i class="icon flex-initial fas fa-phone"></i> Font Awesome fontawesome.com -->
                                        </span>
                                    </div>
                                </a>
                            </div>

                            <div class="flex-initial lg:hidden flex items-center justify-center text-xs lg:text-base leading-5 lg:leading-6 font-medium">
                                <a href="mailto:{{ faculty.email }}" class="bt-link py-1" target="_self" aria-label="email address">
                                    <div class="i-link btn-border-color-secondary btn-hover-border-color-secondary btn-bgcolor-secondary btn-hover-background-color-secondary rectangle">
                                        <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize">
                                            <svg class="svg-inline--fa fa-envelope fa-w-16 icon flex-initial" aria-hidden="true" focusable="false" data-prefix="far" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg><!-- <i class="icon flex-initial far fa-envelope"></i> Font Awesome fontawesome.com -->
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if faculty.title is defined and faculty.title is not empty %}
                    <div class="flex-initial w-full lg:p-8 ml-2 lg:border lg:border-solid lg:border-navy-blue lg:shadow-lg flex flex-col items-start justify-evenly">
                        <div class="flex-initial w-full h-full flex flex-col items-start">
                            <div class="flex-initial w-full flex items-center justify-start">
                                <span class="flex-initial font-extrabold text-base sm:text-lg lg:text-3xl leading-6 text-occ-navy-blue">
                                    {{ faculty.title }}
                                </span>
                            </div>
                            <div class="flex-initial w-full py-1 xxs:py-3 flex items-center justify-start">
                                <span class="flex-initial font-bold text-sm lg:text-xl leading-5 text-occ-royal-blue">
                                    {{ faculty.headingText }}
                                </span>
                            </div>
                            <div class="flex-initial w-full items-center justify-start">
                                <span class="flex-initial text-sm lg:text-lg leading-5 font-normal text-left text-occ-text-gray">
                                    {{ faculty.altText }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="flex-initial lg:hidden w-full pt-2 flex items-center justify-center">
        <span>
            {% if entry.academicsFacultyLinkEntries.one() %}
                {% include '/_partials/navigation' with {link: entry.academicsFacultyLinkEntries.one().linkMatrix.one()} %}
            {% endif %}
        </span>
    </div>

    <div class="flex-initial w-full pt-2 flex items-center justify-center">
        {% for card in entry.featuredFaculty.all() %}
            <div class="slide-indicator cursor-pointer w-2 h-2 {% if loop.index0 is same as(0) %}active{% endif %} mx-1 rounded-full">
                &nbsp;
            </div>
        {% endfor %}
    </div>
</div>

{% css %}
    #faculty .slider {
        width: 20rem;
        top: 184px;
        left: -143px;
    }

    #faculty .slide-card {
        display: none;
    }

    #faculty .slide-card:nth-child(1) {
        display: flex;
    }
{% endcss %}

{# {% js '/assets/js/slider.js' %} #}
{% js %}
    const slider = new Slider(
        '#faculty #faculty-slider',
        '#faculty .slide-card',
        '#faculty .slide-indicator'
    );
{% endjs %}