{% set sectionConfig = {
        anchor:'page-intro',
        wrapPadding:'p-0',
        padding:'p-0',
        hAlign:entry.hAlign,
        vAlign:entry.vAlign,
        zIndex:'z-0',
        bgColor:'bg-white'
    }
%}
{% embed '/_partials/section' with sectionConfig %}
    {% block content %}

        <div class="flex-initial relative lg:absolute lg:top-0 lg:left-0 w-full h-full p-2 flex z-10 {{ vAlign }} {{ hAlign }}">
            <div class="flex-initial flex flex-wrap px-4 py-4 lg:px-20 lg:py-20 {{ hAlign }} {{ vAlign }}">

                {# Heading Text #}
                {% if heading is defined and heading is not empty %}
                    <div class="flex-initial w-full py-4 flex {{ hAlign }}">
                        <h1 class="flex-initial text-occ-navy-blue lg:text-white text-3xl lg:text-5xl leading-8 font-extrabold">
                            {{heading}}
                        </h1>
                    </div>
                {% endif %}

                {# Body Text #}
                {% if body is defined and body is not empty %}
                    <div class="content-body text-occ-text-black lg:text-white mt-2 mb-2 max-w-prose font-semibold text-base lg:text-xl leading-7 lg:leading-8 {{ hAlign }}">
                        {{body}}
                    </div>
                {% endif %}

            </div>

        </div>

        <div class="flex-initial w-full relative h-300px lg:h-450px min-h-300px lg:min-h-450px max-h-300px lg:max-h-450px p-0 m-0 flex items-start justify-center bg-no-repeat bg-cover bg-right-top" style="background-image: url({{ bgImage.one().getUrl('wideScreen1920x1080') }})">
            <div class="color-overlay-gradient"></div>
        </div>

    {% endblock %}
{% endembed %}