<div id="sample-courses-mobile" class="flex-initial relative w-full px-4 py-8 h-full flex lg:hidden flex-wrap items-center justify-between bg-white">

    <input type="range" min="0" max="{{ (entry.courseEntries.count()) - 1 }}" value="0" class="flex-grow slider vertical absolute hidden lg:block" id="sample-courses-slider" role="slider" title="sample course slider">

    <div class="flex-initial w-full pb-4 -mt-4 flex items-center justify-start">
        <span class="pr-2 text-xl lg:text-3xl leading-7 font-extrabold text-occ-navy-blue">{{ entry.sampleCoursesTitle }}</span>
        <span class="hidden lg:block">
            {% set theLink = entry.linkEntries.one() %}
            {% include '/_partials/navigation' with { link: theLink.linkMatrix.one() } %}
        </span>
    </div>

    <div class="flex-initial w-full flex flex-wrap items-start justify-between overflow-hidden">
        {% for study in entry.courseEntries.all() %}
            {% set courseRow = study.courses.nth( random( 0, study.courses.count() - 1 )) %}
            {% set courseClasses = courseRow.classList.all() %}

            {% if courseClasses|length %}
                {% set courseClass = courseClasses[0] %}
                <div class="slide-card flex-initial w-full lg:w-1/2 h-52 pt-4 flex flex-wrap items-start justify-between overflow-hidden min-h-52 max-h-52">
                        <div class="flex-initial w-full h-36 sm:h-32 md:h-28 px-2 pt-4 pb-4 flex flex-col justify-between max-h-36 sm:max-h-32 md:max-h-28 overflow-hidden border border-solid border-navy-blue shadow-lg">
                            <div class="flex-initial w-full h-10 mb-2 flex items-start justify-center max-h-10 overflow-hidden min-h-10">
                                <span class="flex-initial font-bold text-base leading-5 text-occ-navy-blue">
                                    {{ courseClass.title}}
                                </span>
                            </div>
                            <div class="flex-initial w-full sm:px-4 md:px-8 lg:px-12 items-center justify-center">
                                <span class="flex-initial text-xs lg:text-sm leading-5 font-normal text-center text-gray-500">
                                    {{ courseClass.description|replace('/<(\\/)?p>/', '')|truncate(100) }}
                                </span>
                            </div>
                        </div>
                        <div class="flex-initial w-full h-16 text-xs lg:text-base leading-5 lg:leading-6 flex items-center justify-center bg-occ-royal-blue">
                            {%
                                include  '/_partials/navigation' with {
                                    link: {
                                        text: 'Full Description',
                                        textCase: {value: 'capitalize'},
                                        internalAddress: null,
                                        externalAddress: study.url(),
                                        anchor: null,
                                        target: {value: '_self'},
                                        textColor: {value: 'text-color-white'},
                                        textHoverColor: {value: 'text-hover-color-white'},
                                        textHoverUnderlineColor: {value: 'text-hover-underline-color-transparent'},
                                        icon: 'fas fa-long-arrow-alt-right',
                                        iconLocation: true,
                                        isButton: true,
                                        buttonBorderColor: {value: 'btn-border-color-secondary'},
                                        buttonHoverBorderColor: {value: 'btn-hover-border-color-secondary'},
                                        buttonBackgroundColor: {value: 'btn-background-color-transparent'},
                                        buttonHoverBackgroundColor: {value: 'btn-hover-background-color-transparent'},
                                        buttonStyle: {value: 'rectangle'},
                                        forceCase: false,
                                        forceNoButton: false
                                    }
                                }
                            %}
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="flex-initial lg:hidden w-full pt-2 flex items-center justify-center">
        <span class="">
            {% set theLink = entry.linkEntries.one() %}
            {% include '/_partials/navigation' with { link: theLink.linkMatrix.one() } %}
        </span>
    </div>

    <div class="flex-initial w-full pt-2 flex items-center justify-center">
        {% set count = entry.courseEntries.count() %}
        {% for i in 1..(count) %}
            <div class="slide-indicator cursor-pointer w-2 h-2 {% if loop.index0 is same as(0) %}active{% endif %} mx-1 rounded-full">
                &nbsp;
            </div>
        {% endfor %}
    </div>

</div>

{% css %}
    #sample-courses-mobile #sample-courses-slider {
        width: 18rem;
        top: 166px;
        left: -125px;
    }
{% endcss %}

{# {% js '/assets/js/slider.js' %} #}
{% js %}

    const mSlider = new Slider(
        '#sample-courses-mobile #sample-courses-slider',
        '#sample-courses-mobile .slide-card',
        '#sample-courses-mobile .slide-indicator'
    );

{% endjs %}