<div id="sample-courses-desktop" class="flex-initial relative w-full pr-4 py-8 h-full hidden lg:flex flex-wrap items-center justify-between bg-white">

    <input type="range" min="0" max="{{ floor((entry.courseEntries.count() - 1) / 2) }}" value="0" class="flex-grow slider vertical absolute hidden lg:block" id="sample-courses-slider-desktop" role="slider" title="sample course slider">

    <div class="flex-initial w-full pl-12 pb-4 -mt-4 flex items-center justify-start">
        <span class="pr-8 text-xl lg:text-3xl leading-7 font-extrabold text-occ-navy-blue">{{ entry.sampleCoursesTitle }}</span>
        <span class="hidden lg:block">
            {% set theLink = entry.linkEntries.one() %}
            {% include '/_partials/navigation' with { link: theLink.linkMatrix.one() } %}
        </span>
    </div>

    <div class="flex-initial w-full h-64 pl-12 flex flex-wrap items-center justify-center overflow-hidden max-h-64">
        {% for study in entry.courseEntries.all() %}
            {% set courseRow = study.courses.nth( random( 0, study.courses.count() - 1 )) %}
            {% set courseClasses = courseRow.classList.all() %}

            {% if courseClasses|length %}
                {% set courseClass = courseClasses[0] %}
                <div class="slide-card flex-initial w-full lg:w-1/2 h-64 px-2 flex flex-col flex-wrap items-center justify-center overflow-hidden min-h-64 max-h-64">
                    <div class="flex-initial w-full h-48 xl:h-40 px-8 pt-4 pb-4 flex flex-col justify-between max-h-48 xl:max-h-40 overflow-hidden border border-solid border-navy-blue shadow-lg">
                        <div class="flex-initial w-full h-10 mb-2 flex items-start justify-center max-h-10 overflow-hidden min-h-10">
                            <span class="flex-initial font-bold text-base leading-5 text-occ-navy-blue">
                                {{ courseClass.title}}
                            </span>
                        </div>
                        <div class="flex-initial w-full xl:px-12 items-center justify-center">
                            <span class="flex-initial text-xs lg:text-sm leading-5 font-normal text-center text-gray-500">
                                {{ courseClass.description|replace('/<(\\/)?p>/', '')|truncate(100) }}
                            </span>
                        </div>
                    </div>
                    <div class="flex-initial w-full h-16 text-xs lg:text-base leading-5 lg:leading-6 flex items-center justify-center bg-occ-royal-blue">
                        {%
                            include  '/_partials/navigation' with {
                                link: {
                                    text: 'Full Description',
                                    textCase: {value: 'capitalize'},
                                    internalAddress: null,
                                    externalAddress: study.url(),
                                    anchor: null,
                                    target: {value: '_self'},
                                    textColor: {value: 'text-color-white'},
                                    textHoverColor: {value: 'text-hover-color-white'},
                                    textHoverUnderlineColor: {value: 'text-hover-underline-color-transparent'},
                                    icon: null,
                                    iconLocation: false,
                                    isButton: true,
                                    buttonBorderColor: {value: 'btn-border-color-secondary'},
                                    buttonHoverBorderColor: {value: 'btn-hover-border-color-secondary'},
                                    buttonBackgroundColor: {value: 'btn-background-color-transparent'},
                                    buttonHoverBackgroundColor: {value: 'btn-hover-background-color-transparent'},
                                    buttonStyle: {value: 'rectangle'},
                                    forceCase: false,
                                    forceNoButton: false
                                }
                            }
                        %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="flex-initial lg:hidden w-full pt-2 flex items-center justify-center">
        <span class="">
            {% set theLink = entry.linkEntries.one() %}
            {% include '/_partials/navigation' with { link: theLink.linkMatrix.one() } %}
        </span>
    </div>

    <div class="flex-initial w-full pl-12 pt-2 flex items-center justify-center">
        {% set count = ceil((entry.courseEntries.count() - 1) / 2) %}
        {% for i in 1..count %}
            <div class="slide-indicator cursor-pointer w-2 h-2 {% if loop.index0 is same as(0) %}active{% endif %} mx-1 rounded-full">
                &nbsp;
            </div>
        {% endfor %}
    </div>

</div>

{% css %}
    #sample-courses-desktop #sample-courses-slider-desktop {
        width: 19.5rem;
        top: 178px;
        left: -139px;
    }
{% endcss %}

{# {% js '/assets/js/courseSlider.js' %} #}
{% js %}

    const dSlider = new courseSlider(
        '#sample-courses-desktop #sample-courses-slider-desktop',
        '#sample-courses-desktop .slide-card',
        '#sample-courses-desktop .slide-indicator'
    );

{% endjs %}