<div class="flex-initial w-full lg:h-full px-8 flex flex-wrap">
    <div class="flex-initial w-full py-2 flex items-center justify-between lg:border-b-2 lg:border-navy-blue lg:border-solid">
        <span class="font-extrabold text-xl text-occ-navy-blue">Quick Links</span>
        <span id="side-menu-chevron" class='flex-initial lg:hidden'>
            <i id="side-menu-chevron-i" class="fas fa-chevron-circle-down fa-2x text-occ-navy-blue hover:text-occ-royal-blue cursor-pointer"></i>
        </span>
    </div>


    <ul id="side-menu-quick-links" class="flex-initial w-full list-none hidden lg:block leading-7">
        {% for link in craft.entries.section('menus').slug('academics-quick-links').one().children().all() %}
            <li class="w-full py-2 border-b border-solid border-occ-royal-blue last:border-transparent">
                <span class="font-semibold text-base text-occ-navy-blue hover:underline">
                    {%
                        include '/_partials/navigation' with {
                            link: link.linkEntries.one().linkMatrix.one()
                        }
                    %}
                </span>
            </li>
        {% endfor %}
    </ul>

</div>

{# {% js '/assets/js/side-menu.js' %} #}