<div id="why-occ-container" class="flex-initial relative w-full h-full px-4 pb-4 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial text-2xl lg:text-4xl leading-7 text-occ-navy-blue font-extrabold">
        {{ entry.altText }}
    </div>

    {% for why in entry.accordion.all() %}
        <div class="flex-initial w-full p-7 my-4" style="border: 1px solid #D7D7D7;box-sizing: border-box;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);Offset: 0px, 4px rgba(0, 0, 0, 0.1)">
            <div class="flex-initial w-full flex items-center">
                <i class="fas fa-check text-occ-navy-blue"></i>
                <div class="pl-2 font-semibold  text-base lg:text-xl leading-5 lg:leading-6 text-occ-navy-blue">{{ why.accordianTitle }}</div>
            </div>
            <div class="flex-initial w-full pl-6 pt-2 text-xs lg:text-base leading-5 lg:leading-6  font-normal text-gray-500">
                {{ why.blerb }}
            </div>
        </div>
    {% endfor %}

</div>