{% extends '_layouts/main-with-sidebar-menu' %}

{# Used for filter and search forms (see side-menu.twig & filters.twig) #}
{% set request = craft.app.request %}
{% set pRole = request.getParam('role') %}
{% set pDepartment = request.getParam('department') %}
{% set staff = request.getParam('staff') %}
{% set phone = request.getParam('phone') %}
{% set email = request.getParam('email') %}

{% block pageIntro %}
    {%
        include './_pages/faculty/components/intro' with {
            heading: entry.headingText,
            body: entry.bodyText,
            image: entry.image,
            hAlign: entry.hAlign,
            vAlign: entry.vAlign,
        }
    %} 
{% endblock %}

{% block sideMenu %}
    {% include '/_pages/faculty/components/side-menu' %}
{% endblock %}

{% block rightSideContent %}

    {% set sectionConfig = {anchor:'filters',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include './_pages/faculty/components/filters' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'featured',bgColor:'bg-white',zIndex:'z-0'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include './_pages/faculty/components/featured' %}
        {% endblock %}
    {% endembed %}

{% endblock %}