{% extends '_layouts/main-with-sidebar-menu' %}

{% set request = craft.app.request %}
{% set degree = request.getParam('degree') %}
{% set instructor = request.getParam('instructor') %}

{% block pageIntro %}
    {%
        include './_pages/degree-courses/components/intro' with {
            heading: entry.headingText,
            body: entry.bodyText,
            image: entry.image,
            hAlign: entry.hAlign,
            vAlign: entry.vAlign,
            zIndex: 'z-4',
        }
    %}
{% endblock %}

{% block sideMenu %}
    {% include '/_pages/degree-courses/components/side-menu' %}
{% endblock %}

{% block rightSideContent %}

    {% set sectionConfig = {anchor:'filter',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/degree-courses/components/filters' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'concentrations',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/degree-courses/components/course-entries' %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% css %}
{% endcss %}