<div id="advance-standing-container" class="flex-initial relative w-full h-full px-4 pt-12 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full">
        <span class="font-extrabold text-2xl lg:text-4xl leading-7 lg:leading-10 text-occ-navy-blue">
            {{ entry.asTitle }}
        </span>
    </div>

    <div class="flex-initial w-full mt-4">
        <span class="content-body font-normal text-xs lg:text-base leading-4 lg:leading-6">
            {{ entry.asBody }}
        </span>
    </div>

    <div class="flex-initial w-full mt-6 flex flex-wrap items-start justify-start">
        {% for blerb in entry.asAccordion.all() %}
            <div class="flex-initial w-full h-full my-8 flex" style="box-shadow: 0px 0px 20px 0px #00000040;">
                <div class="flex-grow w-16 bg-occ-royal-blue text-white flex items-center justify-center">
                    <span class="font-black text-4xl  leading-6 text-white">
                        &nbsp;
                    <span>
                </div>
                <div class="flex-initial w-full px-4 py-4">
                    <span class="font-light  text-xs lg:text-sm leading-5 text-gray-500">
                        {{ blerb.body }}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

</div>