<div id="application-container" class="flex-initial relative w-full h-full px-4 pt-8 pb-10 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full">
        <span class="font-extrabold text-2xl lg:text-4xl leading-7 lg:leading-10 text-occ-navy-blue">
            {{ entry.aTitle }}
        </span>
    </div>

    <div class="flex-initial w-full mt-4">
        <span class="content-body font-normal text-xs lg:text-base leading-5 lg:leading-6">
            {{ entry.aBody }}
        </span>
    </div>

    <div class="flex-initial w-full mt-6 flex flex-wrap items-start justify-start">
        {% for blerb in entry.aAccordion.all() %}
            <div class="flex-initial w-full h-full my-8 flex flex-wrap justify-center lg:justify-start lg:flex-nowrap border border-solid border-navy-blue shadow-lg">
                <div class="flex-initial lg:flex-grow w-16 h-12 lg:h-auto -mt-6 lg:mt-0 bg-occ-royal-blue text-white flex items-center justify-center">
                    <span class="font-black text-2xl lg:text-4xl  leading-7 text-white">
                        {{ loop.index }}
                    <span>
                </div>
                <div class="flex-initial w-full px-4 py-4">
                    <span class="content-body font-light text-xs lg:text-sm leading-5 text-gray-500">
                        {{ blerb.body }}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="flex-initial w-full mt-6">
        <span class="text-xs lg:text-base leading-5 lg:leading-6  font-normal">
            {{ entry.aFooterBody }}
        </span>
    </div>

    <div class="flex-initial w-full mt-8 flex flex-wrap xxs:flex-nowrap space-y-2 xxs:space-x-2 xxs:space-y-0 items-center justify-start">
        {% for nav in entry.aNavigation.all() %}
            <div class="flex-initial w-auto mr-2 flex items-center justify-start">
                <span class="text-xs lg:text-base leading-4 lg:leading-6 font-medium">
                    {% include '/_partials/navigation' with {link: nav.linkMatrix.one() } %}
                </span>
            </div>
        {% endfor %}
    </div>

</div>