<div id="biblical-languages-container" class="flex-initial relative w-full h-full px-4 pt-12 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full">
        <span class=" font-extrabold text-2xl lg:text-4xl leading-7 lg:leading-10 text-occ-navy-blue">
            {{ entry.blTitle }}
        </span>
    </div>

    <div class="flex-initial w-full mt-4">
        <span class="content-body font-normal text-xs lg:text-base leading-5 lg:leading-6">
            {{ entry.blBody }}
        </span>
    </div>

</div>