<div id="transfer-of-credits-container" class="flex-initial relative w-full h-full px-4 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full">
        <span class=" font-extrabold text-2xl lg:text-4xl leading-7 lg:leading-10 text-occ-navy-blue">
            {{ entry.tocHeadingText }}
        </span>
    </div>

    <div class="flex-initial w-full mt-4">
        <span class="content-body font-normal text-xs lg:text-base leading-5 lg:leading-6">
            {{ entry.tocBodyText }}
        </span>
    </div>

    <div class="flex-initial w-full mt-6 flex flex-wrap items-start justify-start">
        {% for blerb in entry.tocAccordion.all() %}
            <div class="flex-initial w-full h-full my-8 flex flex-wrap justify-center lg:justify-start lg:flex-nowrap border border-solid border-navy-blue shadow-lg">
                <div class="flex-initial lg:flex-grow w-16 h-12 lg:h-auto -mt-6 lg:mt-0 bg-occ-royal-blue text-white flex items-center justify-center">
                    <span class="font-black text-2xl lg:text-4xl leading-6 text-white">
                        {{ loop.index }}
                    <span>
                </div>
                <div class="flex-initial w-full px-4 py-4">
                    <span class="content-body font-light text-xs lg:text-sm leading-5 text-occ-text-gray">
                        {{ blerb.body }}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="flex-initial w-full mt-6">
        <span class="text-xs lg:text-base leading-5 lg:leading-6  font-normal">
            {{ entry.tocFooterText }}
        </span>
    </div>

    {# <div class="flex-initial w-full px-2 lg:px-0 mt-8 flex flex-wrap lg:flex-nowrap items-center justify-start">
        {% for nav in entry.tocNavigation.all() %}
            <div class="flex-initial w-auto mr-4 flex items-center justify-start">
                <span class="flex-initial text-xs lg:text-base leading-5 lg:leading-6">
                    {% include '/_partials/navigation' with {link: nav.linkMatrix.one() } %}
                </span>
            </div>
        {% endfor %}
    </div> #}

</div>