{% for course in classList %}
    <div role="listitem" aria-level="1" data-idx="{{ loop.index0 }}" tabindex="0" class="course-container flex-initial w-full mb-4 flex flex-wrap items-start justify-start py-2 border-b border-occ-royal-blue border-solid cursor-pointer">
        <div class="flex-initial w-full mb-4 flex items-start justify-between">
            <span class="flex-initial  font-semibold text-base lg:text-xl text-occ-royal-blue leading-5 lg:leading-7">
                {% if course.classTitle %}
                    {{ course.classTitle }}
                {% elseif course.classList|length %}
                    {{ course.classList[0].title }} ({{ course.classList[0].creditHours }} hours)
                {% endif %}
            </span>
            <i class="icon flex-initial fas fa-chevron-down"></i>
        </div>

        <div class="course-description w-full hidden">
            {% for courseClass in course.classList.all() %}
                {% if course.classList|length > 1 %}
                    <div class="pb-2 font-bold">{{ courseClass.title }} ({{ courseClass.creditHours }} hours)</div>
                {% endif %}

                {% if courseClass.instructor.count() > 0 %}
                    <div class="w-full mb-1 flex items-start justify-start">
                        {% for instructor in courseClass.instructor.all() %}
                            <div class="w-full">
                                <span class="font-normal text-xs lg:text-base text-occ-royal-blue">
                                    INSTRUCTOR: {{ instructor.title }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="w-full mb-4">
                    <span class="font-normal text-xs lg:text-base text-gray-500 leading-5 lg:leading-6">
                        {{ courseClass.description }}
                        {% if courseClass.prerequisite|length %}
                            <div class="italic">Prerequisite: {{ courseClass.prerequisite[0].title }}.</div>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}