<footer id="footer" class="flex-initial w-full mt-4 flex flex-wrap items-start justify-center text-white">
    <div class="flex-initial w-full px-0 lg:px-4 flex flex-wrap items-start justify-center bg-occ-royal-blue">
        <div class="flex-initial w-10/12 px-0 lg:px-12 flex flex-wrap justify-center">
            <div class="flex-initial w-full pt-12 pb-6 flex items-center justify-center">
                {% for mBlock in craft.app.globals.getSetByHandle('footer').footer.all() %}
                    {% switch mBlock.type.handle %}
                        {% case 'ftrContent' %}
                            <a href="{{ mBlock.href }}">
                                {% if mBlock.image %}
                                    <img src="{{ mBlock.image.one().getUrl('width325') }}" alt="{{ mBlock.image.one().altText }}" />
                                {% endif %}
                            </a>
                    {% endswitch %}
                {% endfor %}
            </div>
            <div class="flex-initial w-full xl:w-3/4 py-4 flex flex-wrap xl:flex-nowrap space-x-4 items-center justify-center text-lg text-white font-bold">
                {% for mBlock in craft.app.globals.getSetByHandle('footer').footer.all() %}
                    {% switch mBlock.type.handle %}
                        {% case 'contact' %}
                            <div class="flex-initial w-full lg:w-auto flex items-center justify-center lg:justify-start">
                                <a href="{{ mBlock.googleMaps }}" class="text-center" target="_blank" rel="noreferrer">
                                    {{ mBlock.streetAddress }}
                                </a>
                            </div>
                            <div class="flex-initial w-full lg:w-auto flex items-center justify-center lg:justify-start">
                                <a href="tel:{{ mBlock.phone|replace({'(': '', ')': '', ' ': '-'}) }}" target="_blank" rel="noreferrer">
                                    {{ mBlock.phone }}
                                </a>
                            </div>
                            <div class="flex-initial w-full lg:w-auto flex items-center justify-center lg:justify-start">
                                <a href="mailto:{{ mBlock.email }}" target="_blank" rel="noreferrer">
                                    {{ mBlock.email }}
                                </a>
                            </div>
                    {% endswitch %}
                {% endfor %}

            </div>
            <div class="flex-initial w-full py-8 flex items-center justify-center border-t-2 border-white text-xs text-white font-normal leading-6">
                <div>
                    {% for mBlock in craft.app.globals.getSetByHandle('footer').footer.all() %}
                        {% switch mBlock.type.handle %}
                            {% case 'ftrContent' %}
                                {{ mBlock.bodyText }}
                        {% endswitch %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex-initial w-full px-0 lg:px-4 flex flex-wrap items-start justify-center bg-occ-navy-blue">
        <div class="flex-initial w-10/12 px-0 lg:px-12 py-4 flex flex-wrap lg:flex-nowrap items-center justify-between text-white">
            <div class="flex-initial w-full lg:w-4/5 flex flex-nowrap items-center justify-start text-base font-normal leading-5">
                <div class='flex-initial w-full flex flex-nowrap items-center justify-start'>
                    <span class='flex-initial'>
                        ©&nbsp;
                    </span>
                    <span id="cw-year"></span>
                    <span class='flex-initial'>
                        &nbsp;Ozark Christian College | All rights reserved                    
                    </span>
                </div>
            </div>

            <div class="flex-initial w-auto lg:pt-0 text-left flex items-center justify-start">
                {% for mBlock in craft.app.globals.getSetByHandle('footer').footer.all() %}
                    {# <!-- {{ mBlock.type.handle }} --> #}
                    {% if mBlock.type.handle is same as('social') %}
                        <span class="px-1 xl:px-4">
                            <a href="{{ mBlock.href }}" target="_blank" aria-label="{{ mBlock.txtName }}" rel="noreferrer">
                                <i class="text-2xl {{ mBlock.icon }}"></i>
                            </a>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>

            {# <div class='flex-initial w-full lg:w-1/5 mt-2 lg:mt-0 flex items-center justify-start lg:justify-end'>
                <span class='flex-initial font-normal text-base leading-5 text-white'>
                    Website by 
                    <a class='flex-initial' href='https://bigpxl.com' target="_blank">
                        BigPxl
                    </a>
                </span>
            </div> #}
        </div>
    </div>
</footer>

{# {% js '/assets/js/copywrite-year.js' %} #}