<div class="container mx-auto max-w-3xl bg-grey-lighter font-commerce antialiased">
    <div class="checkout max-w-commerce mx-auto relative">
        <div class="panel shadow-lg -mt-10 lg:mt-0">
            <h1 class="text-3xl font-normal px-10 py-3 lg:p-10 border-b border-solid border-grey-light">Login</h1>
            <div class="p-10">
                <form method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('users/login') }}

                <label for="loginName">Username or email</label>
                {{ input('text', 'loginName', craft.app.user.rememberedUsername, {
                    id: 'loginName',
                }) }}

                <label for="password">Password</label>
                {{ input('password', 'password', null, {
                    id: 'password',
                }) }}

                <label for="rememberMe">
                    {{ input('checkbox', 'rememberMe', '1', {
                        id: 'rememberMe',
                        class: 'w-auto'
                    }) }}
                    Remember me
                </label>

                <button type="submit" class="bg-maroon text-white w-full rounded px-3 py-3 ml-1 mt-6 text-sm hover:bg-blue-dark outline-0">Login</button>

                {% if errorMessage is defined %}
                    <p>{{ errorMessage }}</p>
                {% endif %}
                </form>
                <p class="pt-4">
                    <a href="{{ url('reset-password') }}">Forgot your password?</a>
                </p>
            </div>
        </div>
    </div>
</div>