<div class="container mx-auto max-w-3xl bg-grey-lighter font-commerce antialiased">
    <div class="checkout max-w-commerce mx-auto">
        <div class="panel shadow-lg ">
            <h1 class="text-3xl font-normal p-10 border-b border-solid border-grey-light">Reset Password</h1>
            <div class="p-10">
                <form method="post" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ actionInput('users/send-password-reset-email') }}
                    {{ redirectInput('') }}
                    <label for="loginName">Username or email</label>
                    {{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
                        id: 'loginName',
                    }) }}
                    {% if errors ?? false %}
                        {{ ul(errors, {class: 'errors'}) }}
                    {% endif %}
                    <button type="submit" class="btn-maroon">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>