<div class="container mx-auto max-w-3xl bg-grey-lighter font-commerce antialiased">
    <div class="checkout max-w-commerce mx-auto">
        <div class="panel shadow-lg ">
            <h1 class="text-3xl font-normal p-10 border-b border-solid border-grey-light">Set Password</h1>
            <div class="p-10">
                <form method="post" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    {{ actionInput('users/set-password') }}
                    {{ hiddenInput('code', code) }}
                    {{ hiddenInput('id', id) }}

                    <label for="new-password">New Password</label>
                    {{ input('password', 'newPassword', null, {
                        id: 'new-password',
                    }) }}

                    {% if errors ?? false %}
                        {{ ul(errors, {class: 'errors'}) }}
                    {% endif %}

                    <button type="submit" class="btn-maroon">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>