{% set request = craft.app.request %}

{% if request.getParam('role') is not empty %}
    {% set role = craft.entries.section('roleTypeEntries').slug(request.getParam('role')).all() %}
{% endif %}

{% if request.getParam('department') is not empty %}
    {% set department = craft.entries.section('departmentEntries').slug(request.getParam('department')).one() %}
{% endif %}

{% set name = null %}
{% if request.getParam('staff') is not empty %}
    {% set name = request.getParam('staff') %}
{% endif %}

{% set phone = null %}
{% if request.getParam('phone') is not empty %}
    {% set phone = request.getParam('phone') %}
{% endif %}

{% set email = null %}
{% if request.getParam('email') is not empty %}
    {% set email = request.getParam('email') %}
{% endif %}



{% if role is defined and department is defined %}
    {%
        set facultyEntries = entry.featuredFaculty.relatedTo(
            [ 'and', role, department ]
        ).all()
    %}
{% elseif role is defined %}
    {%
        set facultyEntries = entry.featuredFaculty.relatedTo(
            [ 'and', role ]
        ).all()
    %}
{% elseif department is defined %}
    {%
        set facultyEntries = entry.featuredFaculty.relatedTo(
            [ 'and', department ]
        ).all()
    %}
{% elseif name is not null or phone is not null or email is not null %}
    {%
        set facultyEntries = entry.featuredFaculty.search(
            'title:' ~ name ~ ' OR phone:' ~ phone ~ ' OR email:' ~ email
        ).all()
    %}
{% else %}
    {%
        set facultyEntries = entry.featuredFaculty.all()
    %}
{% endif %}

<div id="faculty" class="flex-initial relative w-full h-full px-0 py-8 flex items-center justify-between bg-white">

    <div class="w-full flex flex-wrap space-y-4">
        {% for faculty in facultyEntries %}
            <div class="flex-initial w-full p-4 flex justify-between border border-solid border-navy-blue shadow-lg">
                <div class="flex-initial flex flex-wrap lg:flex-nowrap overflow-hidden mr-2 justify-center">

                    <div class="flex-initial w-40 h-40 lg:w-56 lg:h-56 min-w-40 min-h-40 lg:min-w-56 lg:min-h-56 p-1 bg-white overflow-hidden bg-cover" style="background-image: url('{{ faculty.facultyImages.one().getUrl('squareThumb') }}');">
                        &nbsp;
                    </div>

                    {# Phone & EMail icons #}
                    {%
                        include '/_pages/faculty/components/featured-contact-icons' with {
                            flexColOrRow: 'flex-col',
                            show: 'flex',
                            hide: 'lg:hidden'
                        }
                    %}

                </div>

                <div class="flex-initial w-full p-2 lg:px-8 lg:py-0 ml-2 flex flex-col items-start justify-start">

                    <div class="flex-initial w-full flex items-center justify-start">
                        <div class="flex-initial font-extrabold text-lg lg:text-xl leading-6 lg:leading-7 text-occ-royal-blue">
                            {{ faculty.title }}
                        </div>

                        {# Phone & EMail icons #}
                        {%
                            include '/_pages/faculty/components/featured-contact-icons' with {
                                flexColOrRow: 'flex-row',
                                show: 'lg:flex',
                                hide: 'hidden'
                            }
                        %}

                    </div>

                    <div class="flex-initial w-full pt-2 flex items-center justify-start">
                        <span class="flex-initial font-bold text-lg lg:text-xl leading-6 lg:leading-7 text-occ-text-black">
                            {{ faculty.headingText }}
                        </span>
                    </div>
                    <div class="flex-initial w-full pt-4 items-center justify-start">
                        <span class="flex-initial text-sm lg:text-base leading-5 lg:leading-6 font-normal text-left text-occ-text-gray">
                            {{ faculty.altText }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% css %}
    #faculty .slider {
        width: 24rem;
        top: 214px;
        left: -191px;
    }

    #faculty .slide-card {
        display: none;
    }

    #faculty .slide-card:nth-child(1) {
        display: flex;
    }
{% endcss %}

{# {% js '/assets/js/slider.js' %} #}
{% js %}
    const slider = new Slider(
        '#faculty #faculty-slider',
        '#faculty .slide-card',
        '#faculty .slide-indicator'
    );
{% endjs %}