<div class="flex-shrink flex {{ flexColOrRow }} items-center justify-center">
    <div class="flex-initial {{ hide }} {{ show }} items-center justify-center text-xs lg:text-base leading-5 lg:leading-6 font-medium">
        <a href="tel:{{ faculty.phone }}" class="bt-link py-1" target="_self" aria-label="phone">
            <div class="i-link btn-border-color-transparent btn-hover-border-color-transparent btn-bgcolor-transparent btn-hover-background-color-transparent rectangle">
                <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize">
                    {% set phone = craft.assets.volume('icons').filename('Phone.svg') %}
                    {{ svg(phone.one()) }}
                </span>
            </div>
        </a>
    </div>

    <div class="flex-initial {{ hide }} pr-2 {{ show }} items-center justify-center text-xs lg:text-base leading-5 lg:leading-6  font-medium">
        <a href="mailto:{{ faculty.email }}" class="bt-link py-1" target="_self" aria-label="email address">
            <div class="i-link btn-border-color-transparent btn-hover-border-color-transparent btn-bgcolor-transparent btn-hover-background-color-transparent rectangle">
                <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize">
                    {% set envelope = craft.assets.volume('icons').filename('Envelope.svg') %}
                    {{ svg(envelope.one()) }}
                </span>
            </div>
        </a>
    </div>
</div>