<div class="flex-initial w-full lg:hidden flex flex-wrap space-y-4 xxs:space-y-0 xxs:flex-nowrap items-center justify-center z-40">

    <div id="mobile-faculty-filter-by" class="flex-initial w-full xxs:w-1/2 xxs:pr-2 flex items-center justify-center xxs:justify-end">
        <div role="button" id="mobile-faculty-filter-by-button" class="flex-initial flex items-center justify-center cursor-pointer w-full bg-occ-navy-blue px-2 py-1" tabindex="0">
            <div class="flex-initial w-full xxs:max-w-auto sm:w-auto btn-border-color-secondary btn-hover-border-color-secondary btn-bgcolor-secondary btn-hover-background-color-secondary rectangle flex items-center justify-center hover:border-b hover:border-solid hover:border">
                <span class="flex items-center justify-center text-white border-b-3 border-solid border-transparent hover:border-occ-transparent capitalize mr-2">
                    Filter
                </span>
                <i class="fas fa-filter text-occ-cyan"></i>
            </div>
        </div>

        <div id="mobile-faculty-filter-by-content" class="flex-initial w-full h-full p-4 fixed z-99999 top-16 left-0 bg-white" style="display:none;">
            {%
                include '/_pages/faculty/components/form-filter' with {
                    device: 'mobile'
                }
            %}
        </div>
    </div>

    <div id="mobile-faculty-search-by" class="flex-initial w-full xxs:w-1/2 xxs:pl-2 flex items-center justify-center xxs:justify-start" tabindex="0">

        <div role="button" id="mobile-faculty-search-by-button" class="flex-initial flex items-center justify-center cursor-pointer w-full bg-occ-navy-blue px-2 py-1">
            <div class="flex-initial w-full xxs:max-w-auto sm:w-auto btn-border-color-secondary btn-hover-border-color-secondary btn-bgcolor-secondary btn-hover-background-color-secondary rectangle flex items-center justify-center hover:border-b hover:border-solid hover:border">
                <span class="flex items-center justify-center text-white border-b-3 border-solid border-transparent hover:border-occ-transparent capitalize mr-2">
                    Search by
                </span>
                <i class="fas fa-search text-occ-cyan"></i>
            </div>
        </div>

        <div id="mobile-faculty-search-by-content" class="flex-initial w-full h-full p-4 fixed z-99999 top-16 left-0 bg-white" style="display:none;">
            {%
                include '/_pages/faculty/components/form-search' with {
                    device: 'mobile'
                }
            %}
        </div>

    </div>

</div>

{% js %}

    // Filter By Button

    let filterByButton = document.querySelector(
        '#mobile-faculty-filter-by #mobile-faculty-filter-by-button'
    );

    filterByButton.addEventListener('click', function(e) {
        filterByButtonEH(e);
    });

    filterByButton.addEventListener('focus', function(e) {
        filterByButtonEH(e);
    });

    filterByButtonEH = function(e) {
        let selector = '#mobile-faculty-filter-by #mobile-faculty-filter-by-content';
        let content = document.querySelector(selector);
        content.style.display = 'block';
        
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera        
    }

    let filterByButtonClose = document.querySelector(
        '#mobile-faculty-filter-by #mobile-faculty-filter-by-content .form-close'
    );

    // Filter By Button Close

    // document.querySelector(
    //     '#mobile-faculty-filter-by #mobile-faculty-filter-by-content #form-close'
    // ).addEventListener('click', function() {
    filterByButtonClose.addEventListener('click', function() {
        filterByButtonCloseEH();
    });

    filterByButtonClose.addEventListener('focus', function() {
        filterByButtonCloseEH();
    });

    filterByButtonCloseEH = function(e) {
        let selector = '#mobile-faculty-filter-by #mobile-faculty-filter-by-content';
        let content = document.querySelector(selector);
        content.style.display = 'none';
        // document.body.scrollTop = prevPos; // For Safari
    }

    // Search By Button

    let searchByButton = document.querySelector(
        '#mobile-faculty-search-by #mobile-faculty-search-by-button'
    );

    // document.querySelector(
    //     '#mobile-faculty-search-by #mobile-faculty-search-by-button'
    // ).addEventListener('click', function(e) {
    searchByButton.addEventListener('click', function(e) {
        searchByButtonEH(e);
        // let selector = '#mobile-faculty-search-by #mobile-faculty-search-by-content';
        // let content = document.querySelector(selector);
        // content.style.display = 'block';
        
        // document.body.scrollTop = 0; // For Safari
        // document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera        
    });

    searchByButtonEH = function(e) {
        let selector = '#mobile-faculty-search-by #mobile-faculty-search-by-content';
        let content = document.querySelector(selector);
        content.style.display = 'block';
        
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera        
    }

    // Search By Button Close

    let searchByButtonClose = document.querySelector(
        '#mobile-faculty-search-by #mobile-faculty-search-by-content .form-close'
    );

    // document.querySelector(
    //     '#mobile-faculty-search-by #mobile-faculty-search-by-content #form-close'
    // ).addEventListener('click', function() {
    searchByButtonClose.addEventListener('click', function() {
        searchByButtonCloseEH();
        // let selector = '#mobile-faculty-search-by #mobile-faculty-search-by-content';
        // let content = document.querySelector(selector);
        // content.style.display = 'none';
        // document.body.scrollTop = prevPos; // For Safari
    });

    searchByButtonCloseEH = function() {
        let selector = '#mobile-faculty-search-by #mobile-faculty-search-by-content';
        let content = document.querySelector(selector);
        content.style.display = 'none';
        // document.body.scrollTop = prevPos; // For Safari
    }

{% endjs %}