<form class="flex-initial w-full flex flex-wrap" method="GET" action="" id="form-role-{{ device }}">

    {# Reset Button #}
    <div class="flex-initial w-full py-2 flex items-center justify-between border-b-2 border-solid border-occ-navy-blue">
        {# <div class="flex-initial w-full 2xl:w-auto"> #}
        <div class="flex-initial w-auto">
            <span class="font-extrabold text-xl text-occ-navy-blue">
                Filter
            </span>
        </div>

        {# <div data-form="form-role" id="form-reset" class="flex-initial w-auto items-center justify-end hidden lg:flex"> #}
        <div data-form="form-role" class="form-reset flex-initial w-auto items-center justify-end hidden lg:flex">
            {# <input id="filter-clear-all" class="bg-white text-occ-royal-blue w-auto font-semibold text-xs py-1 underline cursor-pointer" type="reset" value="Clear All" /> #}
            <a href="/{{ request.getFullPath() }}" class="">
                <div class="bg-white text-occ-royal-blue font-semibold text-xs py-1 underline cursor-pointer">
                    Clear All
                </div>
            </a>
        </div>

        {# <div data-form="form-role" id="form-close" class="flex-initial cursor-pointer rounded-md flex lg:hidden items-center justify-end" tabindex="0"> #}
        <div data-form="form-role" class="form-close flex-initial cursor-pointer rounded-md flex lg:hidden items-center justify-end" tabindex="0">
            <div class="flex-initial w-12 h-12 flex items-center justify-center">
                <i class="flex-initial text-occ-navy-blue fas fa-times-circle fa-2x"></i>
            </div>
        </div>
    </div>

    {# Role #}
    <div class="flex-initial w-full mt-2 py-2">

        <div class="flex-initial w-full  text-xs font-extrabold text-gray-300 uppercase mb-2">
            Role
        </div>

        <fieldset form="form-role" name="faculty-roles">
            {% for role in craft.entries.section('roleTypeEntries').level(1).all() %}
                {% set checked = '' %}
                {% if role.slug is same as(pRole) %}
                    {% set checked = 'checked' %}
                {% endif %}
                <div class="flex-initial w-full font-normal text-base text-occ-royal-blue leading-7">
                    <input class="filter-role" type="checkbox" id="{{role.slug}}-input-{{ device }}" name="role[]" value="{{role.slug}}" {{checked}}>
                    <label for="{{role.slug}}-input-{{ device }}" class="capitalize">{{role.title}}</label>
                </div>
            {% endfor %}
        </fieldset>

    </div>

    {# Department #}
    <div class="flex-initial w-full mt-2 py-2">

        {# <div class="flex-initial w-full text-xs font-extrabold text-occ-text-gray uppercase mb-2">
            Department
        </div> #}
        <label for="department-{{ device }}" class="flex-initial w-full text-xs font-extrabold text-occ-text-gray uppercase mb-2">
            Department
        </label>

        <select id="department-{{ device }}" name="department" placeholder="Select a Deparment" class="flex-initial w-full px-2 py-1 bg-white border border-solid border-occ-gray">
            {% set selected = '' %}
            {% if pDepartment is not empty %}
                {% set selected = 'selected' %}
            {% endif %}
            <option class="rounded-none" value="" {{ selected }}></option>

            {% for dep in craft.entries.section('departmentEntries').level(1).all() %}
                {% set selected = '' %}
                {% if dep.slug is same as(pDepartment) %}
                    {% set selected = 'selected' %}
                {% endif %}
                <option class="rounded-none" value="{{dep.slug}}" {{selected}}>{{dep.title}}</option>
            {% endfor %}
        </select>

    </div>

    {# Submit Button #}
    <div class="flex-initial w-full py-2 flex items-center justify-between">
        <input class="flex-initial w-32 px-4 py-1 bg-occ-royal-blue text-white hover:bg-occ-navy-blue hidden lg:block" type="submit" value="Apply Filter" />
        <input class="flex-initial w-32 px-4 py-1 bg-occ-royal-blue text-white hover:bg-occ-navy-blue lg:hidden" type="submit" value="Apply Filter" />
        <input class="flex-initial w-32 px-4 py-1 bg-white text-occ-navy-blue hover:text-white border border-solid border-occ-royal-blue lg:hidden" type="reset" value="Clear All" />
    </div>

</form>

{# {% js %}

    window.addEventListener("load", function() {

        console.debug(`faculty - filter start`);

        document.getElementById('filter-clear-all').addEventListener( 'click', function() {
            console.debug(`faculty - filter reset start`);
            let roles = Array.from(document.querySelectorAll('.filter-role'));
            for(let i=0; i<roles.length; i++) {
                roles[i].removeAttribute('checked');
            }
        });

    });

{% endjs %} #}