<form class="flex-initial w-full flex flex-wrap" method="GET" action="" id="form-contact-{{ device }}">

    {# Reset Button #}
    <div class="flex-initial w-full mt-2 py-2 flex items-center justify-between border-b-2 border-solid border-occ-navy-blue">
        {# <div class="flex-initial w-full 2xl:w-auto"> #}
        <div class="flex-initial w-auto">
            <span class=" font-extrabold text-xl text-occ-navy-blue">
                Search
            </span>
        </div>

        {# <div data-form="form-contact" id="form-reset" class="flex-initial w-auto rounded-md items-center justify-end hidden lg:flex"> #}
        <div data-form="form-contact" class="form-reset flex-initial w-auto rounded-md items-center justify-end hidden lg:flex">
            {# <input class="bg-white text-occ-royal-blue w-full font-semibold text-xs py-1 underline cursor-pointer" type="reset" value="Clear All" /> #}
            <a href="/{{ request.getFullPath() }}" class="">
                <div class="bg-white text-occ-royal-blue font-semibold text-xs py-1 underline cursor-pointer">
                    Clear All
                </div>
            </a>
        </div>

        {# <div data-form="form-contact" id="form-close" class="flex-initial cursor-pointer rounded-md flex lg:hidden items-center justify-end"> #}
        <div data-form="form-contact" class="form-close flex-initial cursor-pointer rounded-md flex lg:hidden items-center justify-end">
            <div class="flex-initial w-12 h-12 flex items-center justify-center">
                <i class="flex-initial text-occ-navy-blue fas fa-times-circle fa-2x"></i>
            </div>
        </div>

    </div>

    {# Name, Phone, Email #}
    <div class="flex-initial w-full mt-2 py-2">

        <label for="staff-input-{{ device }}" class="flex-initial w-full  text-xs font-extrabold text-gray-300 uppercase mb-2">First or last name</label>
        <input id="staff-input-{{ device }}" class="flex-initial w-full py-1" type="text" name="staff" style="border: 1px solid #cccccc;" value="{{staff}}" />

        <label for="email-input-{{ device }}" class="flex-initial w-full  text-xs font-extrabold text-gray-300 uppercase mb-2">Email Address</label>
        <input id="email-input-{{ device }}" class="flex-initial w-full py-1" type="text" name="email" style="border: 1px solid #cccccc;" value="{{email}}" />

        <label for="phone-input-{{ device }}" class="flex-initial w-full  text-xs font-extrabold text-gray-300 uppercase mb-2">Phone number</label>
        <input id="phone-input-{{ device }}" class="flex-initial w-full py-1" type="text" name="phone" style="border: 1px solid #cccccc;" value="{{phone}}" />

    </div>

    {# Submit Button #}
    <div class="flex-initial w-full py-2 flex items-center justify-between">
        <input class="flex-initial px-4 py-1 bg-occ-royal-blue text-white hover:bg-occ-navy-blue hidden lg:block" type="submit" value="Apply Search" />
        <input class="flex-initial w-32 px-4 py-1 bg-occ-royal-blue text-white hover:bg-occ-navy-blue lg:hidden" type="submit" value="Apply Search" />
        <input class="flex-initial w-32 px-4 py-1 bg-white text-occ-navy-blue hover:text-white border border-solid border-occ-royal-blue lg:hidden" type="reset" value="Clear All" />
    </div>

</form>
