{% set sectionConfig = {
        anchor:'page-intro',
        wrapPadding:'p-0 pt-0 lg:pt-8',
        zIndex:'z-0',
    }
%}
{% embed '/_partials/section' with sectionConfig %}
    {% block content %}
        <div class="flex-initial w-full h-full lg:h-96 mt-0 pl-0 mb-4 lg:mt-8 lg:mb-8 flex flex-wrap lg:flex-nowrap items-start justify-center border-none lg:border lg:border-solid lg:border-navy-blue shadow-lg">

            <div class="flex-initial w-full lg:w-1/2 px-4 lg:px-8 xl:px-16 py-4 lg:py-16 flex flex-wrap items-center justify-start lg:justify-center">

                {# Heading Text #}
                {% if entry.headingText is defined and entry.headingText is not empty %}
                    <div class="flex-initial w-full flex">
                        <h1 class="flex-initial text-occ-navy-blue text-3xl lg:text-5xl leading-9 font-extrabold ">
                            {{ entry.headingText}}
                        </h1>
                    </div>
                {% endif %}

                {# Body Text #}
                {% if  entry.bodyText is defined and  entry.bodyText is not empty %}
                    <div class="content-body text-occ-navy-blue mt-2 mb-2 max-w-prose font-semibold text-xl leading-8">
                        <span class=" font-normal text-lg lg:text-xl leading-6 lg:leading-7 text-black">
                            {{ entry.bodyText }}
                        </span>
                    </div>
                {% endif %}

            </div>

            {# <div class="flex-grow relative w-full h-96 lg:h-full min-h-full lg:w-1/2 flex bg-cover bg-right-top" style="background-image: url('{{ entry.image.one().getUrl() }}');"> #}
            <div class="flex-grow relative w-full h-96 lg:h-full min-h-full lg:w-1/2 flex bg-no-repeat bg-contain bg-center" style="background-image: url('{{ entry.image.one().getUrl('width2048') }}');">
                {# <div class="color-overlay-gradient"></div> #}
                &nbsp;
            </div>

        </div>
    {% endblock %}
{% endembed %}