<div id="side-menu" class="flex-initial w-full h-full hidden lg:flex flex-wrap">

    {# Form - By Role #}
    {%
        include '/_pages/faculty/components/form-filter' with {
            device: 'desktop'
        }
    %}

    {# Form - By Contact Information #}
    {%
        include '/_pages/faculty/components/form-search' with {
            device: 'desktop'
        }
    %}

</div>
