<div id="calendar-container" class="flex-initial relative w-full h-full py-8 flex flex-wrap items-center justify-between bg-white">

    {% for e in entry.calendarEntries.all() %}
        {% if loop.index0 is same as(0) %}
            <div class="flex-initial w-full lg:w-32p h-40 py-4 flex items-center justify-center">
                <div class="flex-initial w-full h-full p-2 bg-occ-royal-blue flex items-center justify-center" style="border: 1px solid #D7D7D7;box-shadow: 0px 4px 20px 0px #0000001A;">
                    <span class="text-white font-extrabold text-xl lg:text-3xl leading-7 lg:leading-8 text-center">
                        {{ e.title }}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="flex-initial w-full lg:w-32p h-40 py-4 bg-white flex items-center justify-center">
                <div class="flex-initial w-full h-full p-2 bg-white flex flex-col flex-wrap items-center justify-center" style="border: 1px solid #D7D7D7;box-shadow: 0px 4px 20px 0px #0000001A;">
                    <div class="flex-initial w-full flex items-center justify-center">
                        <span class="text-occ-royal-blue  font-bold text-sm lg:text-xl leading-5 lg:leading-6 text-center">
                            {{ e.altText }}
                        </span>
                    </div>
                    <div class="flex-initial w-full flex items-center justify-center">
                        <span class="text-occ-royal-blue  font-normal text-sm lg:text-xl leading-5 lg:leading-6 text-center">
                            {{ e.title }}
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>