{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{% set message = message ?? null %}

<div id="faculty-container" class="flex-initial relative w-full h-full py-8 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full pb-4 -mt-4 flex items-center justify-start">
        <span class="text-3xl lg:text-3xl leading-8 font-extrabold text-occ-navy-blue">
            {{ entry.admissionsFacultyTitle }}
        </span>
    </div>

    <div class="flex-initial overflow-hidden w-full flex flex-wrap">
        {% for faculty in entry.featuredFaculty.all() %}
            <div class="slide-card flex-initial w-full flex flex-wrap">

                <div class="flex-initial w-full px-0 py-4 justify-between flex h-68 min-h-68">
                    <div class="flex-initial flex flex-wrap lg:flex-nowrap overflow-hidden mr-2 justify-center">
                        <div class="flex-initial w-40 h-40 lg:w-60 lg:h-60 min-w-40 min-h-40 lg:min-w-60 lg:min-h-60 p-1 overflow-hidden bg-cover" style="background-image: url('{{ faculty.facultyImages.one().getUrl('squareThumb') }}');">
                            &nbsp;
                        </div>

                        <div class="flex-initial w-full flex flex-col items-start justify-center">

                            <div class="flex-initial w-full lg:hidden flex items-center justify-center text-xs lg:text-base leading-5 lg:leading-6 font-medium">
                                <a href="tel:{{ faculty.phone }}" class="bt-link py-1" target="_self" aria-label="phone number">
                                    <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize">
                                        {% set phone = craft.assets.volume('icons').filename('Phone.svg') %}
                                        {{ svg(phone.one()) }}
                                    </span>
                                </a>
                            </div>

                            <div class="flex-initial w-full lg:hidden flex items-center justify-center text-xs lg:text-base leading-5 lg:leading-6  font-medium">
                                <a href="mailto:{{ faculty.email }}" class="bt-link py-1" target="_self" aria-label="email address">
                                    <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize">
                                        {% set envelope = craft.assets.volume('icons').filename('Envelope.svg') %}
                                        {{ svg(envelope.one()) }}
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="flex-initial w-full p-2 lg:p-8 ml-2 lg:border lg:border-solid lg:border-navy-blue lg:shadow-lg flex flex-col justify-between">

                        <div class="flex-initial w-full flex flex-col items-start justify-between">
                            <div class="flex-initial w-full flex items-center justify-start">
                                <span class="flex-initial font-extrabold text-lg lg:text-3xl leading-6 text-occ-navy-blue">
                                    {{ faculty.title }}
                                </span>
                            </div>
                            <div class="flex-initial w-full flex items-center justify-start">
                                <span class="flex-initial font-bold text-sm lg:text-xl leading-5 text-occ-royal-blue">
                                    {{ faculty.headingText }}
                                </span>
                            </div>
                            <div class="flex-initial w-full items-center justify-start">
                                <span class="flex-initial text-sm lg:text-lg leading-5 font-normal text-left text-occ-text-gray">
                                    {{ faculty.altText }}
                                </span>
                            </div>
                        </div>

                        <div class="flex-initial w-full pt-6 items-center justify-start flex flex-wrap lg:flex-nowrap">

                            <div class="flex-initial hidden lg:flex pr-2 items-center justify-center text-xs lg:text-base leading-5 lg:leading-6  font-medium">
                                <a href="tel:{{ faculty.phone }}" class="bt-link py-1" target="_self" aria-label="phone">
                                    <div class="i-link btn-border-color-transparent btn-hover-border-color-transparent btn-bgcolor-transparent btn-hover-background-color-transparent rectangle">
                                        <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize">
                                            {% set phone = craft.assets.volume('icons').filename('Phone.svg') %}
                                            {{ svg(phone.one()) }}
                                        </span>
                                    </div>
                                </a>
                            </div>

                            <div class="flex-initial hidden lg:flex pr-2 items-center justify-center text-xs lg:text-base leading-5 lg:leading-6  font-medium">
                                <a href="mailto:{{ faculty.email }}" class="bt-link py-1" target="_self" aria-label="email address">
                                    <div class="i-link btn-border-color-transparent btn-hover-border-color-transparent btn-bgcolor-transparent btn-hover-background-color-transparent rectangle">
                                        <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize">
                                            {% set envelope = craft.assets.volume('icons').filename('Envelope.svg') %}
                                            {{ svg(envelope.one()) }}
                                        </span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="flex-initial w-full px-4 py-8 mt-4 flex flex-wrap items-start justify-center border border-solid border-navy-blue shadow-lg">
                    <form class="w-full p-0" method="post">
                        {{ csrfInput() }}
                        {{ actionInput('contact-form/send') }}
                        <input type="hidden" name="toEmail" value="{{ faculty.email|hash }}">
                        <div class="flex-initial w-full mb-4 flex">
                            <span class="text-occ-navy-blue font-extrabold text-lg lg:text-3xl leading-6 lg:leading-9">
                                Reach out to {{ faculty.title }}
                            </span>
                        </div>

                        <div class="flex-initial w-full mb-4 flex flex-wrap lg:flex-nowrap items-center justify-center">
                            <div class="flex-initial w-full pr-0 lg:pr-2 py-1 leading-5 flex flex-wrap space-y-2">
                                <label class="text-occ-navy-blue text-sm lg:text-base  font-semibold" for="fromName">Full Name</label>
                                <input id="fromName" class="flex-initial w-full h-8 py-2 px-2 bg-occ-light-gray" name="fromName" type="text" />
                                {{ message ? _self.errorList(message.getErrors('fromName')) }}
                            </div>
                        </div>

                        <div class="flex-initial w-full mb-4 flex flex-wrap lg:flex-nowrap items-center justify-center">
                            <div class="flex-initial w-full lg:w-1/2 pr-0 lg:pr-2 py-1 leading-5 flex flex-wrap space-y-2">
                                <label class="text-occ-navy-blue text-sm lg:text-base font-semibold" for="email">Email</label>
                                <input id="email" class="flex-initial w-full h-8 py-2 px-2 bg-occ-light-gray" name="fromEmail" type="text" />
                                {{ message ? _self.errorList(message.getErrors('fromEmail')) }}
                            </div>
                            <div class="flex-initial w-full lg:w-1/2 pl-0 lg:pl-2 py-1 leading-5 flex flex-wrap space-y-2">
                                <label class="text-occ-navy-blue text-sm lg:text-base font-semibold" for="phone">Phone</label>
                                <input id="phone" class="flex-initial w-full h-8 py-2 px-2 bg-occ-light-gray" name="message[phone]" type="text" />
                                {{ message ? _self.errorList(message.getErrors('phone')) }}
                            </div>
                        </div>

                        <div class="flex-initial w-full mb-4 flex flex-wrap items-center justify-start space-y-2">
                            <label class="text-occ-navy-blue text-sm lg:text-base font-semibold" for="message">Message</label>
                            <textarea id="message" class="flex-initial w-full px-2 py-2 bg-occ-light-gray" name="message[body]" placeholder="Message"></textarea>
                            {{ message ? _self.errorList(message.getErrors('message')) }}
                        </div>

                        <div class="flex-initial w-full flex flex-wrap items-center justify-start space-y-2">
                            <input class="text-white w-full lg:w-auto text-sm lg:text-base bg-occ-royal-blue px-4 py-2" type="submit" name="submit" value="Submit" />
                        </div>
                    </form>
                </div>

            </div>
        {% endfor %}
    </div>

    <div class="flex-initial w-full mt-4 flex items-center justify-center">
        {% for card in entry.featuredFaculty.all() %}
            <div class="slide-indicator cursor-pointer w-2 h-2 {% if loop.index0 is same as(0) %}active{% endif %} mx-1 rounded-full">
                &nbsp;
            </div>
        {% endfor %}
    </div>
</div>

{% css %}
    #faculty .slider {
        width: 24rem;
        top: 214px;
        left: -191px;
    }

    #faculty .slide-card {
        display: none;
    }

    #faculty .slide-card:nth-child(1) {
        display: flex;
    }
{% endcss %}

{# {% js '/assets/js/slider.js' %} #}
{% js %}
    const slider = new Slider(
        '#faculty #faculty-slider',
        '#faculty .slide-card',
        '#faculty .slide-indicator'
    );
{% endjs %}