{% set sectionConfig = {
        anchor:'page-intro',
        wrapPadding:'p-0',
        padding:'p-0',
        hAlign:entry.hAlign,
        vAlign:entry.vAlign,
        zIndex:'z-0',
        bgColor:'bg-white'
    }
%}
{% embed '/_partials/section' with sectionConfig %}
    {% block content %}

        <div class="flex-initial relative lg:absolute lg:top-0 lg:left-0 w-full h-full p-2 flex z-10 {{ entry.introVAlign }} {{ entry.introHAlign }}">
            <div class="flex-initial flex flex-wrap px-4 py-4 lg:px-20 lg:py-20 {{ entry.introHAlign }} {{ entry.introVAlign }}">

                {# Heading Text #}
                {% if entry.introHeading is defined and entry.introHeading is not empty %}
                    <div class="flex-initial w-full py-4 flex {{ entry.introHAlign }}">
                        <h1 class="flex-initial text-occ-navy-blue lg:text-white text-3xl lg:text-5xl leading-8 font-extrabold">
                            {{ entry.introHeading }}
                        </h1>
                    </div>
                {% endif %}

                {# Body Text #}
                {% if entry.introBody is defined and entry.introBody is not empty %}
                    <div class="text-occ-royal-blue lg:text-white mt-2 mb-2 max-w-prose font-semibold text-base lg:text-xl leading-7 lg:leading-8 {{ entry.introHAlign }}">
                        {{ entry.introBody }}
                    </div>
                {% endif %}

                {% if entry.introVideo is defined and entry.introVideo is not empty %}
                    <div class='flex-initial w-full pt-4 hidden lg:flex'>
                        <span data-id="admissions-intro-lightbox-overlay" class="lightbox-overlay-controller uppercase hover:underline text-white hover:text-occ-navy-blue" tabindex="0">
                            Watch Now
                        </span>
                        {%
                            include '/_partials/lightbox' with {
                                id: 'admissions-intro-lightbox-overlay',
                                video: entry.introVideo
                            }
                        %}
                    </div>
                {% endif %}

            </div>

        </div>

        {% if entry.introBackgroundImage.one() is defined and entry.introBackgroundImage.one() is not empty %}
            <div class="flex-initial w-full relative h-300px lg:h-450px min-h-300px lg:min-h-450px max-h-300px lg:max-h-450px p-0 m-0 flex items-start justify-center bg-no-repeat bg-cover bg-right-top" style="background-image: url({{ entry.introBackgroundImage.one().getUrl('wideScreen1920x1080') }})">
                <div class="color-overlay-gradient"></div>
            </div>
        {% endif %}

    {% endblock %}
{% endembed %}