<div id="requirements-container" class="flex-initial relative w-full h-full px-0 flex flex-wrap items-start justify-between">

    <div class="flex-initial w-full h-full my-4 flex border border-solid border-navy-blue shadow-lg">
        <div class="flex-grow w-16 bg-occ-royal-blue text-white flex items-center justify-center">
            <span class="font-black text-4xl  leading-6 text-white">
                &nbsp;
            <span>
        </div>
        <div class="flex-initial w-full px-4 py-4">
            <span class="font-extrabold  text-2xl lg:text-4xl leading-7 text-occ-navy-blue">
                {{ entry.rTitle }}
            </span>
        </div>
    </div>

    <div class="flex-initial w-full mt-4 flex flex-wrap items-center justify-between">
        {% for box in entry.rBox.all() %}
            <div class="flex-initial flex w-full lg:w-49p">
                <div class="flex-initial w-full h-48 p-4 lg:p-8 mx-0 my-2 flex flex-nowrap flex-row items-center justify-around bg-occ-navy-blue">
                    <div class="flex-initial w-12 mr-4 flex items-center justify-start">
                        <div class="flex-initial w-12 h-12 p-2 flex items-center justify-center text-occ-cyan border-2 border-solid border-occ-cyan">
                            {% if box.bIcon.one() and box.bIcon.one().extension == 'svg' %}
                                {{ svg( box.bIcon.one() ) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex-grow w-full pl-2 lg:pl-0">
                        <span class="text-white  font-bold text-base lg:text-lg leading-5 lg:leading-6">
                            {{ box.boxTitle }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>