<div id="scholarships" class="flex-initial relative w-full h-full pt-12 flex flex-wrap items-start justify-between bg-white">

    <div class="flex-initial w-full">
        <span class=" font-extrabold text-2xl lg:text-4xl leading-7 lg:leading-10 text-occ-navy-blue">
            {{ entry.tuitionTitle }}
        </span>
    </div>

    <div class="flex-initial w-full mt-4 flex flex-wrap items-start justify-between">
        {% for box in entry.tuitionInformationBox.all() %}
            <div class="flex-initial w-full lg:w-49p py-2 flex flex-wrap items-start justify-start">
                <div class="flex-initial w-full flex items-center justify-start">
                    <span class="text-occ-royal-blue  font-bold text-base lg:text-xl leading-5 lg:leading-6">
                        {{ box.tuitionTitle }}
                    </span>
                </div>
                <div class="flex-initial w-full pt-4">
                    <span class="content-body text-gray-500  font-normal text-xs lg:text-base leading-5 lg:leading-6">
                        {{ box.tuitionBody}}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="flex-initial w-full mt-4 flex flex-wrap items-start justify-between">
        {% for scholarship in entry.scholarshipEntries.all() %}
            <div role="article" data-idx="{{loop.index0}}" class="scholarship-container toggle flex-initial w-full py-4 flex flex-wrap items-center justify-start cursor-pointer" tabindex="0" style="border-top: 2px solid #cccccc;border-bottom: 2px solid #cccccc;">
                <div class="flex-initial w-full flex items-center justify-between">
                    <span class="name flex-initial text-base lg:text-xl leading-5 lg:leading-7 text-occ-navy-blue font-medium">
                        {{ scholarship.scholarships.scholarshipName }}
                    </span>
                    <i class="icon flex-initial fas fa-chevron-down"></i>
                </div>
                <div class="details hidden flex-wrap leading-6">
                    <p class="flex-initial w-full">
                        <span class="text-occ-royal-blue text-xs lg:text-base leading-5 lg:leading-6 font-bold">
                            Award Amount:
                        </span>
                        <span class=" text-xs lg:text-base leading-5 lg:leading-7 font-normal">
                            {{ scholarship.scholarships.awardAmount }}
                        </span>
                    </p>
                    <p class="flex-initial w-full">
                        <span class="text-occ-royal-blue text-xs lg:text-base leading-5 lg:leading-7 font-bold">
                            Application Qualifications:
                        </span>
                        <span class="text-xs lg:text-base leading-5 lg:leading-7 font-normal">
                            {{ scholarship.scholarships.qualifications }}
                        </span>
                    </p>
                    <p class="flex-initial w-full">
                        <span class="text-occ-royal-blue text-xs lg:text-base leading-5 lg:leading-7 font-bold">
                            Eligibility Considerations:
                        </span>
                        <span class="text-xs lg:text-base leading-5 lg:leading-7 font-normal">
                            {{ scholarship.scholarships.requirements }}
                        </span>
                    </p>
                </div>
            </div>

        {% endfor %}
    </div>

</div>

{% css %}
{% endcss %}

{# {% js '/assets/js/accordion.js' %} #}
{% js %}

    let accordion = new Accordion(
        '#scholarships',
        '.scholarship-container',
        '.details',
        '.icon'
    );

{% endjs %}