{% extends '_layouts/main-with-sidebar-menu-full-intro' %}

{% block pageIntro %}
    {%
        include './_pages/academics/components/intro' with {
            bgImage: entry.backgroundImage,
            heading: entry.headingText,
            body: entry.bodyText,
            hAlign: entry.hAlign,
            vAlign: entry.vAlign,
        }
    %} 
{% endblock %}

{% block sideMenu %}
    {% include '/_pages/academics/components/side-menu' %}
{% endblock %}

{% block rightSideContent %}

    {% set sectionConfig = {anchor:'concentrations',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/academics/components/concentrations' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'why-occ',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include './_pages/academics/components/why-occ' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'sample-courses',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include './_pages/academics/components/sample-courses' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'faculty',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include './_pages/academics/components/faculty' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'calendar',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include './_pages/academics/components/calendar' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'transfer',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include './_pages/academics/components/transfer' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'disabilities',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include './_pages/academics/components/disabilities' %}
        {% endblock %}
    {% endembed %}

{% endblock %}