<!doctype html>
<html lang="en" xml:lang="en">
    <head>
        {# header("Content-Security-Policy: upgrade-insecure-requests; default-src 'none'; img-src 'self' 'unsafe-inline' data: https:; script-src 'self' 'unsafe-inline' https://www.gstatic.com/recaptcha/releases https:; style-src 'self' https://fonts.googleapis.com 'unsafe-inline' https:; font-src 'unsafe-inline' data: https:; connect-src 'self' https://ka-p.fontawesome.com https:; frame-src 'self' https://www.google.com"); #}

        <title>
        {% block title %}
            {{ siteName }} Graduate Studies - {{ entry.title }}
        {% endblock %}
        {# {{ parent() }} - {{ entry.title }} #}

        </title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="referrer" content="origin-when-cross-origin" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, viewport-fit=cover" />

        {% include '/_partials/head/fonts' %}
        <link rel="stylesheet" href="/assets/dist/main.css" />

        {% include '/_partials/head/facebook-pixel.twig' with {fpid: getenv('FACEBOOK_PIXEL_ID')} %}

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id=%27+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-K3N5S32');
        </script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        {% include '/_partials/header' %}

        <div class="flex-initial mt-20 w-full flex items-start justify-center">
            {% block flashmsg %}
                {% include '/_partials/flash-message' %}
            {% endblock %}

            <div role="main" id="content-container" class="flex-initial w-full">
                {% block maincontent %}
                {% endblock %}
            </div>
        </div>


        {% include '/_partials/components/footer' %}

        <script src="/assets/dist/main.js" type="text/javascript"></script>
        <!-- <script src="/assets/js/media-player.js" type="text/javascript"></script> -->
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3N5S32" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    </body>
</html>