<!doctype html>
<html lang="en" xml:lang="en">
    <head>
        <title>
        {% block title %}
            {{ siteName }} Graduate Studies - {{ entry.title }}
        {% endblock %}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="referrer" content="origin-when-cross-origin" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, viewport-fit=cover" />

        {% include '/_partials/head/fonts' %}
        <link rel="stylesheet" href="/assets/dist/main.css" />

        {# {% include '/_partials/head/facebook-pixel.twig' with {fpid: getenv('FACEBOOK_PIXEL_ID')} %} #}

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id=%27+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-K3N5S32');
        </script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        {% include '/_partials/header' %}

        <div class="flex-initial mt-20 w-full flex flex-wrap items-start justify-center">
            {% block flashmsg %}
                {% include '/_partials/flash-message' %}
            {% endblock %}

            <div class="flex-initial w-full px-0 lg:px-22 flex items-start justify-center bg-white">
                <div class="flex-initial w-full flex items-start justify-center max-w-content">
                    {% block pageIntro %}
                    {% endblock %}
                </div>
            </div>

            <div id="content-container" class="flex-initial w-full px-4 lg:px-22 flex items-start justify-center">
                <div class="flex-initial w-full h-full pt-8 pl-0 pb-4 lg:pb-8 flex flex-wrap items-start justify-center max-w-content">

                    <div id="sticky-side-bar-menu" class="flex-shrink w-full lg:w-1/6 xl:1/7 lg:h-full mb-4 lg:mb-0 px-7 lg:px-0 pt-2 relative lg:absolute lg:flex flex-wrap items-start justify-start">
                        {% block sideMenu %}
                            <div class="flex-initial w-full text-black">
                                default sidebar menu
                            </div>
                        {% endblock %}
                    </div>

                    {# <div class="flex-initial w-full px-4 lg:pl-6 lg:pr-0 lg:w-2/3 xl:3/4 flex flex-wrap items-center justify-items-center"> #}
                    <div role="main" class="flex-initial w-full px-4 lg:pl-6 lg:pr-0 lg:w-5/6 xl:6/7 flex flex-wrap items-center justify-items-center">
                        {% block rightSideContent %}{% endblock %}
                    </div>

                </div>
            </div>
        </div>

        {% include '/_partials/components/footer' %}

        <script src="/assets/dist/main.js" type="text/javascript"></script>
        <!-- <script src="/assets/js/media-player.js" type="text/javascript"></script> -->
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3N5S32" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    </body>
</html>