<div id="starttoday" class="flex-initial relative w-full h-full py-4 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full flex">
        <div class="flex-initial relative w-full h-64 flex flex-wrap items-end bg-cover bg-right-top" style="background-image: url({{ entry.coursesStartTodayBackgroundImage.one().getUrl('width2048') }})">
            <div class="color-overlay-gradient"></div>
            <div class="flex-initial w-full px-6 lg:px-14 pb-8 flex flex-wrap z-4">
                <div class="flex-initial w-full flex self-end justify-start">
                    <span class="text-white  font-extrabold text-xl lg:text-3xl">
                        {{ entry.coursesStartTodayHeading }}
                    </span>
                </div>

                <div class="flex-initial w-full flex justify-start">
                    <span class="flex-initial text-sm lg:text-base font-normal text-white leading-5">
                        {{ entry.coursesStartTodayBody }}
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="flex-initial w-full px-8 lg:px-16 pt-4 flex flex-wrap lg:flex-nowrap items-center justify-start lg:space-x-12">
        {% for nav in entry.coursesStartTodayNav.all() %}
            {# <div class="flex-initial w-full lg:w-auto text-base font-semibold flex items-center justify-start"> #}
                {%
                    include '/_partials/navigation' with { 
                        link: nav.linkMatrix.one()
                    }
                %}
            {# </div> #}
        {% endfor %}
    </div>

</div>