<div id="audiance-container" class="flex-initial relative w-full h-full pb-4 pt-8 flex flex-wrap items-center justify-between bg-white">

    {# heading #}
    {% if entry.altText is defined and entry.altText is not empty %}
        <div class="flex-initial mb-4 text-2xl lg:text-4xl text-occ-navy-blue font-extrabold">
            {{ entry.altText }}
        </div>
    {% endif %}

    {# Main content box (with the blue background) #}
    <div class="flex-initial w-full mt-4 px-8 py-4 lg:p-10 flex flex-wrap items-center justify-start bg-occ-navy-blue">

        {# Audience Body (main blurb) #}
        {% if entry.audienceBody is defined and entry.audienceBody is not empty %}
            <div class="flex-initial w-full flex items-center justify-start">
                <span class="text-white  font-normal text-sm lg:text-xl leading-6 lg:leading-7">
                    {{ entry.audienceBody }}
                </span>
            </div>
        {% endif %}

        {# Bullet Points #}
        {% if entry.bulletPoints is defined and entry.bulletPoints is not empty %}
            <div class="flex-initial w-full px-4 mt-6 flex flex-wrap items-center justify-start">
                {% for points in entry.bulletPoints.all() %}
                    <div class="flex-initial w-full lg:w-1/2 flex space-x-2 items-center justify-start">
                        <i class="fas fa-check text-occ-cyan"></i>
                        <span class="text-white  font-bold text-xs lg:text-xl leading-5 lg:leading-7">
                            {{ points.bulletEntry }}
                        </span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {# Additional information * #}
        {% if entry.text is defined and entry.text is not empty %}
            <div class="flex-initial w-full mt-6 flex flex-wrap items-center justify-start">
                <span class="text-white  font-normal text-xxs lg:text-xs leading-4 lg:leading-7">
                    {{ entry.text }}
                </span>
            </div>
        {% endif %}

    </div>

</div>