<div id="degree-courses" class="flex-initial relative w-full h-full py-4 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full mb-4 pb-2 lg:pb-0 text-xl lg:text-4xl leading-7 text-occ-navy-blue font-extrabold border-b border-solid border-occ-navy-blue lg:border-b-0">
        Degree Courses
    </div>
    <div role="list" class="flex-initial flex flex-wrap items-start justify-start">
        {% include '_partials/components/course-accordion' with { classList: entry.courses.all() } %}
    </div>
</div>

{# {% js '/assets/js/accordion.js' %} #}

{% js %}
    accordion = new Accordion(
        '#degree-courses',
        '.course-container',
        '.course-description',
        '.icon'
    );
{% endjs %}