{% if entry.highlights %}
<div class="flex-initial w-full sm:py-4 flex flex-wrap sm:flex-nowrap items-center justify-center bg-white">

    {% for highlight in entry.highlights.all() %}
        <div class="flex-initial w-full sm:w-1/3 mt-4 sm:mt-0 flex flex-wrap items-center justify-center space-y-4">
            <div class="flex-initial w-12 h-12 flex items-center justify-center bg-occ-navy-blue text-white">
                {{ svg(highlight.icon.one()) }}
            </div>
            <div class="flex-initial w-full flex items-center justify-center">
                <span class="flex-initial text-sm leading-6 font-semibold text-center">
                    {{ highlight.text }}
                </span>
            </div>
        </div>
    {% endfor %}

</div>
{% endif %}