{% set headingText = entry.title %}
{% set bodyText = entry.bodyText %}
{% set video = entry.video %}

{% set sectionConfig = {
        anchor:'page-intro',
        wrapPadding:'p-0 pt-4 lg:pt-8',
        zIndex:'z-0',
    }
%}
{% embed '/_partials/section' with sectionConfig %}
    {% block content %}
        <div class="flex-initial w-full h-full pl-0 mb-4 lg:mt-8 lg:mb-8 flex flex-wrap lg:flex-nowrap items-center justify-center lg:border lg:border-solid lg:border-navy-blue lg:shadow-lg">

            <div class="flex-initial w-full lg:w-1/2 px-6 lg:px-16 flex flex-wrap items-center justify-start lg:justify-center">

                {# Heading Text #}
                {% if headingText is defined and headingText is not empty %}
                    <div class="flex-initial w-full flex">
                        <h1 class="flex-initial text-occ-navy-blue text-3xl xl:text-5xl leading-9 font-extrabold ">
                            {{ headingText }}
                        </h1>
                    </div>
                {% endif %}

                {# Body Text #}
                {% if bodyText is defined and bodyText is not empty %}
                    <div class="flex-intial text-occ-navy-blue mt-2 mb-2 max-w-prose font-semibold text-xl leading-8">
                        <span class="font-normal text-lg xl:text-xl leading-6 xl:leading-7 text-black">
                            {{ bodyText }}
                        </span>
                    </div>
                {% endif %}

            </div>

            <div class="flex-initial w-full lg:w-1/2 pt-4 lg:pt-0 flex items-center justify-center bg-cover">
                <div class="flex-initial bp-player w-full plyr__video-embed player">
                    {% embed '/_partials/media-player' with {videoSrc: video} %}{% endembed %}
                </div>
            </div>

        </div>
    {% endblock %}
{% endembed %}