<div class="flex-initial w-full h-full flex flex-wrap">
    <div class="flex-initial w-full py-2 flex items-center justify-between lg:border-b-2 lg:border-navy-blue lg:border-solid">
        <span class=" font-extrabold text-xl text-occ-navy-blue">Quick Links</span>
        <span id="side-menu-chevron" class='flex-initial lg:hidden'>
            <i id="side-menu-chevron-i" class="fas fa-chevron-circle-down fa-2x text-occ-navy-blue hover:text-occ-royal-blue cursor-pointer"></i>
        </span>
    </div>

    <ul id="side-menu-quick-links" class="flex-initial w-full list-none hidden lg:block leading-7">
        <li class="w-full hover:underline py-2 border-b border-solid border-occ-royal-blue">
            <a href="https://admissions.occ.edu/apply/" target="_blank" rel="noreferrer">
                <span class=" font-semibold text-base text-occ-navy-blue hover:underline">Apply Now</span>
            </a>
        </li>
        <li class="w-full hover:underline py-2 border-b border-solid border-occ-royal-blue">
            <a href="https://admissions.occ.edu/register/requestinfo" target="_blank" rel="noreferrer">
                <span class=" font-semibold text-base text-occ-navy-blue hover:underline">Request Information</span>
            </a>
        </li>
        <li class="w-full hover:underline py-2 border-b border-solid border-occ-royal-blue">
            <a href="#degree-courses">
                <span class=" font-semibold text-base text-occ-navy-blue hover:underline">Courses in this Degree</span>
            </a>
        </li>
        <li class="w-full hover:underline py-2 border-b border-solid border-occ-royal-blue">
            <a href="#faculty">
                <span class=" font-semibold text-base text-occ-navy-blue hover:underline">Faculty</span>
            </a>
        </li>
    </ul>

</div>

{# {% js '/assets/js/side-menu.js' %} #}