<div id="why-occ-container" class="flex-initial relative w-full h-full px-0 py-4 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial  text-xl lg:text-4xl text-occ-navy-blue font-extrabold leading-7">
        {{ entry.whyThisDegreeTitle }}
    </div>

        <div class="flex-initial w-full h-full flex flex-wrap justify-center lg:justify-between">
        {% for body in entry.whyThisDegree.all() %}

            {% set width = 'w-full lg:w-1/2' %}
            {% set marginx = '' %}
            {% if loop.index0 is same as(0) %}
                {% set width = 'w-full' %}
            {% elseif loop.index0 and (loop.index0 % 2) %}
                {% set marginx = 'pr-0 lg:pr-4' %}
            {% else %}
                {% set marginx = 'pl-0 lg:pl-4' %}
            {% endif %}

            <div class="flex-initial my-2 {{ width }} {{ marginx }}">
                <div class="flex-initial w-full h-full p-7 my-4 border border-solid border-navy-blue shadow-lg">
                    <div class="flex-initial w-full flex space-x-2 items-center justify-start">
                        <i class="flex-initial fas fa-check text-occ-navy-blue"></i>
                        <span class="flex-initial font-semibold  text-base lg:text-xl leading-5 lg:leading-7 text-occ-navy-blue">
                            {{ body.sectionTitle }}
                        </span>
                    </div>
                    <div class="flex-initial w-full pl-6 pt-2 text-xs lg:text-base  font-normal leading-5 text-gray-500">
                        {{ body.sectionBody }}
                    </div>
                </div>
            </div>
        {% endfor %}
    <div>

</div>