{% extends '_layouts/main-with-sidebar-menu' %}

{% block pageIntro %}
    {%
        include './_pages/credits-and-standing/components/intro' with {
            heading: entry.headingText,
            body: entry.bodyText,
            image: entry.image,
            hAlign: entry.hAlign,
            vAlign: entry.vAlign,
            zIndex: 'z-4',
        }
    %} 
{% endblock %}


{% block sideMenu %}
    {% include '/_pages/credits-and-standing/components/side-menu' %}
{% endblock %}


{% block rightSideContent %}

    {% set sectionConfig = {anchor:'transfer-of-credits',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/credits-and-standing/components/transfer-of-credits' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'advance-standing',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/credits-and-standing/components/advance-standing' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'biblical-languages',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/credits-and-standing/components/biblical-languages' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'application',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/credits-and-standing/components/application' %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% css %}
{% endcss %}