<div id="accomodation-container" class="flex-initial relative w-full h-full pt-12 pb-8 flex flex-wrap items-center justify-between bg-white">

    <div class="flex-initial w-full">
        <span class=" font-extrabold text-2xl lg:text-4xl leading-7 lg:leading-10 text-occ-navy-blue">
            {{ entry.raTitle }}
        </span>
    </div>

    <div class="flex-initial w-full mt-6 flex flex-wrap items-start justify-start">
        {% for blerb in entry.raAccordion.all() %}
            <div class="flex-initial w-full h-full my-4 flex" style="box-shadow: 0px 0px 20px 0px #00000040;">
                <div class="flex-grow w-16 bg-occ-royal-blue text-white flex items-center justify-center">
                    <span class="font-black text-4xl  leading-6 text-white">
                        &nbsp;
                    <span>
                </div>
                <div class="flex-initial w-full px-4 py-4">
                    <span class="content-body font-light text-xs lg:text-sm leading-5 text-gray-500">
                        {{ blerb.body }}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="flex-initial w-full mt-6">
        <span class="accomodation-footer text-xs lg:text-base leading-5 lg:leading-6 ">
            {{ entry.raFooter|raw }}
        </span>
    </div>

</div>

{% css %}
    .accomodation-footer a {
        color: #174384;
    }

    .accomodation-footer a:hover {
        text-decoration: underline;
    }
{% endcss %}
