/* purgecss start ignore */
a.bt-link {
    text-decoration: none;
}

.i-link {
    position: relative;
    display: flex;
    border: 3px solid transparent;
    width: 42px;
    height: 42px;
    flex: 0 1 auto;
    justify-content: center;
    box-sizing: border-box;
    transition-duration: 300ms;
    transition-property: color, border, background;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
}

.b-link {
    position: relative;
    display: flex;
    border: 3px solid transparent;
    width: 100%;
    height: 42px;
    min-width: 10rem;
    max-width: 13rem;
    flex: 0 1 auto;
    justify-content: center;
    box-sizing: border-box;
    transition-duration: 300ms;
    transition-property: color, border, background;
    transition-delay: 50ms;
    transition-timing-function: ease-out;
}

.i-link .text,
.b-link .text {
    flex: 0 1 auto;
}

.i-link .text,
.t-link .text,
.b-link .text {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.t-link .text.capitalize,
.b-link .text.capitalize {
    text-transform: capitalize;
}

.t-link .text.lower,
.b-link .text.lower {
    text-transform: lowercase;
}

.t-link .text.upper,
.b-link .text.upper {
    text-transform: uppercase;
}

.t-link .text.as-typed,
.b-link .text.as-typed {
    text-transform: none;
}

// Text Color
.i-link .text.text-color-primary,
.t-link .text.text-color-primary,
.b-link .text.text-color-primary {
    @apply text-occ-link-text-norm-primary;
}

// .main-navigation .t-link .text.text-color-primary,
// .main-navigation .t-link .icon.text-color-primary {
//     @apply text-occ-link-text-main-primary;
// }

// .main-navigation .b-link .text.text-color-primary,
// .main-navigation .b-link .icon.text-color-primary {
//     @apply text-occ-navy-blue;
// }

.i-link .text.text-color-secondary,
.t-link .text.text-color-secondary,
.b-link .text.text-color-secondary {
    @apply text-occ-link-text-norm-secondary;
}

// .main-navigation .t-link .text.text-color-secondary,
// .main-navigation .t-link .icon.text-color-secondary,
// .main-navigation .b-link .text.text-color-secondary,
// .main-navigation .b-link .icon.text-color-secondary {
//     @apply text-occ-link-text-main-secondary;
// }

.i-link .text.text-color-black,
.t-link .text.text-color-black,
.b-link .text.text-color-black {
    // @apply text-black;
    @apply text-occ-text-black;
}

.i-link .text.text-color-white,
.t-link .text.text-color-white,
.b-link .text.text-color-white {
    @apply text-white;
}

.i-link .text.text-color-error,
.t-link .text.text-color-error,
.b-link .text.text-color-error {
    @apply text-red-500;
}

// Text Hover Color
.i-link:hover .text.text-hover-color-primary,
.t-link:hover .text.text-hover-color-primary,
.t-link:hover .icon.text-hover-color-primary,
.b-link:hover .text.text-hover-color-primary,
.b-link:hover .icon.text-hover-color-primary {
    @apply text-occ-navy-blue;
}

// .main-navigation .t-link:hover .text.text-hover-color-primary,
// .main-navigation .t-link:hover .icon.text-hover-color-primary,
// .main-navigation .b-link:hover .text.text-hover-color-primary,
// .main-navigation .b-link:hover .icon.text-hover-color-primary {
//     @apply text-occ-link-text-main-primary;
// }

.i-link:hover .text.text-hover-color-secondary,
.t-link:hover .text.text-hover-color-secondary,
.t-link:hover .icon.text-hover-color-secondary,
.b-link:hover .text.text-hover-color-secondary,
.b-link:hover .icon.text-hover-color-secondary {
    @apply text-occ-royal-blue;
}

// .main-navigation .t-link:hover .text.text-hover-color-secondary,
// .main-navigation .t-link:hover .icon.text-hover-color-secondary,
// .main-navigation .b-link:hover .text.text-hover-color-secondary,
// .main-navigation .b-link:hover .icon.text-hover-color-secondary {
//     @apply text-occ-link-text-main-secondary;
// }

.i-link:hover .text.text-hover-color-black,
.t-link:hover .text.text-hover-color-black,
.t-link:hover .icon.text-hover-color-black,
.b-link:hover .text.text-hover-color-black,
.b-link:hover .icon.text-hover-color-black {
    // @apply text-black;
    @apply text-occ-text-black;
}

.i-link:hover .text.text-hover-color-white,
.t-link:hover .text.text-hover-color-white,
.t-link:hover .icon.text-hover-color-white,
.b-link:hover .text.text-hover-color-white,
.b-link:hover .icon.text-hover-color-white {
    @apply text-white;
}

.i-link:hover .text.text-hover-color-error,
.t-link:hover .text.text-hover-color-error,
.t-link:hover .icon.text-hover-color-error,
.b-link:hover .text.text-hover-color-error,
.b-link:hover .icon.text-hover-color-error {
    @apply text-red-500;
}

// Text Border Hover Color
.i-link:hover .text.text-hover-underline-color-primary,
.t-link:hover .text.text-hover-underline-color-primary,
.b-link:hover .text.text-hover-underline-color-primary {
    border-bottom-color: orange;
}

.i-link:hover .text.text-hover-underline-color-secondary,
.t-link:hover .text.text-hover-underline-color-secondary,
.b-link:hover .text.text-hover-underline-color-secondary {
    border-bottom-color: lightsalmon;
}

.i-link:hover .text.text-hover-underline-color-white,
.t-link:hover .text.text-hover-underline-color-white,
.b-link:hover .text.text-hover-underline-color-white {
    border-bottom-color: white;
}

.i-link:hover .text.text-hover-underline-color-transparent,
.t-link:hover .text.text-hover-underline-color-transparent,
.b-link:hover .text.text-hover-underline-color-transparent {
    border-bottom-color: transparent;
}

.i-link:hover .text.text-hover-underline-color-navy-blue,
.t-link:hover .text.text-hover-underline-color-navy-blue,
.b-link:hover .text.text-hover-underline-color-navy-blue {
    // @apply border-3 border-solid border-occ-navy-blue border-b-3;
    border-bottom-color: rgba(11, 34, 81, var(--tw-border-opacity));
}

.i-link:hover .text.text-hover-underline-color-royal-blue,
.t-link:hover .text.text-hover-underline-color-royal-blue,
.b-link:hover .text.text-hover-underline-color-royal-blue {
    // @apply border-b border-solid border-occ-royal-blue;
    border-bottom-color: rgba(23, 67, 132, var(--tw-border-opacity));
}

.i-link:hover .text.text-hover-underline-color-error,
.t-link:hover .text.text-hover-underline-color-error,
.b-link:hover .text.text-hover-underline-color-error {
    border-bottom-color: red;
}

.i-link.btn-border-color-primary,
.b-link.btn-border-color-primary {
    @apply border-occ-navy-blue;
}

.i-link.btn-border-color-secondary,
.b-link.btn-border-color-secondary {
    @apply border-occ-royal-blue;
}

.i-link.btn-border-color-white,
.b-link.btn-border-color-white {
    @apply border-white;
}

.i-link.btn-border-color-transparent,
.b-link.btn-border-color-transparent {
    @apply border-transparent;
}

.i-link.btn-border-color-error,
.b-link.btn-border-color-error {
    @apply border-red-500;
}

.i-link:hover.btn-hover-border-color-primary,
.b-link:hover.btn-hover-border-color-primary {
    @apply border-occ-navy-blue;
}

.i-link:hover.btn-hover-border-color-secondary,
.b-link:hover.btn-hover-border-color-secondary {
    @apply border-occ-royal-blue;
}

.i-link:hover.btn-hover-border-color-white,
.b-link:hover.btn-hover-border-color-white {
    @apply border-white;
}

.i-link:hover.btn-hover-border-color-transparent,
.b-link:hover.btn-hover-border-color-transparent {
    @apply border-transparent;
}

.i-link:hover.btn-hover-border-color-error,
.b-link:hover.btn-hover-border-color-error {
    @apply border-red-500;
}

.i-link.btn-bgcolor-primary,
.b-link.btn-bgcolor-primary {
    @apply bg-occ-navy-blue;
}

.i-link.btn-bgcolor-secondary,
.b-link.btn-bgcolor-secondary {
    @apply bg-occ-royal-blue;
}

.i-link.btn-bgcolor-white,
.b-link.btn-bgcolor-white {
    @apply bg-white;
}

.i-link.btn-bgcolor-transparent,
.b-link.btn-bgcolor-transparent {
    @apply bg-transparent;
}

.i-link.btn-bgcolor-error,
.b-link.btn-bgcolor-error {
    @apply bg-red-500;
}

.i-link:hover.btn-hover-background-color-primary,
.b-link:hover.btn-hover-background-color-primary {
    @apply bg-occ-navy-blue;
}

.i-link:hover.btn-hover-background-color-secondary,
.b-link:hover.btn-hover-background-color-secondary {
    @apply bg-occ-royal-blue;
}

.i-link:hover.btn-hover-background-color-white,
.b-link:hover.btn-hover-background-color-white {
    @apply bg-white;
}

.i-link:hover.btn-hover-background-color-transparent,
.b-link:hover.btn-hover-background-color-transparent {
    @apply bg-transparent;
}

.i-link:hover.btn-hover-background-color-error,
.b-link:hover.btn-hover-background-color-error {
    @apply bg-red-500;
}

.i-link.oval,
.b-link.oval {
    border-radius: 9999rem;
}

.i-link.rectangle,
.b-link.rectangle {
    border-radius: 0rem;
}

.i-link.rounded,
.b-link.rounded {
    border-radius: .375rem;
}

.mobile-menu .t-link .text {
    @apply text-occ-navy-blue;
}

.mobile-menu .t-link:hover .text {
    @apply text-occ-navy-blue;
    // border-bottom-color: orange;
}
/* purgecss end ignore */