/* purgecss start ignore */
.plyr,
.bp-player,
.bp-player-iframe {
    width: 100%;
    position:relative;
}

:root {
    --plyr-color-main: #0B2251;
}

.player {
    --plyr-font-family: Montserrat, san-serif;
}

// un-comment for audio support
// ----------------------------
// .audio-wrapper {
//     color:yellow;
// }
// .audio-wrapper .plyr__controls {
//     padding-left:0px !important;
//     padding-right:0px !important;
//     background-color:transparent !important;
// }

// .audio-wrapper.transcript .plyr__controls button {
//     background-color:white;
//     border-radius: 100%;
//     padding: 9px;
// }
// .audio-wrapper.transcript .plyr__controls button svg {
//     color:#5D3143;
// }

// .audio-wrapper.maroon .plyr__controls button {
//     background-color:#5D3143;
//     border-radius: 100%;
//     padding: 9px;
// }
// .audio-wrapper.maroon .plyr__controls button svg {
//     color:white;
//     width:14px;
//     height:14px;
// }
/* purgecss end ignore */