.nav {
    @apply text-base font-bold text-occ-text-gray;
    // font-family: 'Inter', sans-serif;
}

// .main-nav-link {
//     border:0px;
//     border-bottom: 3px solid transparent;
// }

// .main-nav-link.main-nav-link--active {
//     @apply text-occ-text-gray;
//     @apply border-occ-text-gray;
// }

// .main-nav-link:hover {
//     @apply border-occ-text-gray;
// }

// .main-nav-inner-container .button.primary {
//     @apply bg-white;
//     @apply text-occ-royal-blue;
// }

// .main-nav-inner-container .button.primary:hover {
//     @apply bg-occ-royal-blue text-white;
//     @apply border-white;
// }

.link-container {
    flex: 0 1 auto;
}

.sub-link-container {
    flex: 0 1 auto;
    position: absolute;
    top: 1.7rem;
    left: 0;
    width: 15rem;
    flex-wrap: wrap;
    display: none;
    background-color: white;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.link-container:hover .sub-link-container {
    display: flex;
}

.sub-nav-link {
    padding: .5rem 1rem;
    width: 100%;
}

// .sub-nav-link:hover {
    /* border-bottom: 2px solid orange; */
    /* background-color: blue; */
    /* color: white; */
// }

#sticky-side-bar-menu {
    @apply lg:sticky lg:top-20 lg:z-10;
}

#main-nav-section {
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}