/* .slidecontainer { */
    /* Width of the outside container */
    /* width: 100%; */
/* } */

/* The slider itself */
// 5px solid #7CE5E0
.slider {
    -webkit-appearance: none;
    /* width: 100%; */
    // height: 15px;
    border-radius: 5px;
    background: #7CE5E0;
    outline: none;
    // opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider.vertical {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);

    height: 5px;    
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid #0B2251;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid #0B2251;
    background: white;
    cursor: pointer;
}

.slide-indicator {
    @apply bg-occ-indicator-inactive;
}

.slide-indicator.active {
    @apply bg-occ-indicator-active;
}