* {
    @apply font-montserrat;
}

body {
    @apply text-occ-text-black bg-white;
}

.section-container {
    @apply w-full;
    @apply relative;
    @apply bg-center bg-no-repeat bg-cover;
    @apply flex-grow;
    @apply flex;
}

section:nth-of-type(odd) {
    @apply bg-occ-light-gray;
}

section:nth-of-type(even) {
    @apply bg-none;
}

section:nth-of-type(1) {
    @apply bg-white;
}


#hero-section.section-container {
    @apply h-full;
}

#academics.section-container {
    @apply bg-occ-light-gray;
}

// max-w-content
// mx-auto
.section-content-container {
    @apply flex-initial;
    @apply relative;
    @apply w-full h-full;
    @apply flex flex-wrap z-5;
}

.color-overlay {
    @apply w-full h-full absolute top-0 left-0 bg-occ-navy-blue bg-opacity-75 z-4;
}

.color-overlay-gradient {
    @apply w-full h-full absolute top-0 left-0 bg-gradient-to-t from-occ-navy-blue to-transparent bg-opacity-75 z-4;
}

.logo {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    padding-right:5px;
}

.heading {
    // font-family: 'montserrat', sans-serif;
    @apply text-3xl sm:text-4xl leading-11;
    @apply text-occ-navy-blue font-extrabold;
    // @apply font-montserrat;
}

h2 {
    font-family: 'montserrat', sans-serif;
    @apply text-3xl sm:text-4xl leading-11;
    @apply text-occ-navy-blue font-extrabold;
}

.content-body p {
    @apply mb-2;
}

.content-body p:last-child {
    @apply mb-0;
}

.content-body a {
    @apply text-occ-royal-blue hover:text-occ-navy-blue;
    @apply hover:underline;
}