{% extends '_layouts/main' %}

{% set fof = craft.app.globals().getSetByHandle('fof') %}
{% block maincontent %}
    <div class="flex-initial w-full px-4 lg:px-22 pt-8 lg:pt-12 flex items-start justify-center">
        <div class="flex-initial w-full max-w-content flex flex-col-reverse lg:flex-row flex-wrap lg:flex-nowrap items-start justify-between">

            <div class="flex-initial w-full flex lg:w-1/6 xl:1/7 pt-2 items-start justify-start">

                <div class="flex-initial w-full flex flex-wrap items-start justify-start">
                    <div class="flex-initial w-full lg:border-b lg:border-solid lg:border-occ-royal-blue flex items-center justify-between">
                        <span class="w-full mb-4 text-occ-navy-blue text-xl font-extrabold leading-7">
                            Quick Links
                        </span>
                        <span id="fof-chevron" class='flex-initial lg:hidden'>
                            <i id="fof-chevron-i" class="fas fa-chevron-circle-down fa-2x text-occ-navy-blue hover:text-occ-royal-blue cursor-pointer"></i>
                        </span>
                    </div>
                    <ul id="fof-quick-links" class="flex-initial w-full list-none hidden lg:block leading-7">
                        <li class="w-full hover:underline py-2 border-b border-solid border-occ-royal-blue">
                            <a href="/">
                                <span class="w-full text-occ-navy-blue text-base font-semibold leading-6">
                                    Home
                                </span>
                            </a>
                        </li>
                        <li class="w-full hover:underline py-2 border-b border-solid border-occ-royal-blue">
                            <a href="/admissions">
                                <span class="w-full text-occ-navy-blue text-base font-semibold leading-6">
                                    Admissions
                                </span>
                            </a>
                        </li>
                        <li class="w-full hover:underline py-2 border-b border-solid border-occ-royal-blue">
                            <a href="/academics">
                                <span class="w-full text-occ-navy-blue text-base font-semibold leading-6">
                                    Academics
                                </span>
                            </a>
                        </li>
                        <li class="w-full hover:underline py-2 border-b border-solid border-occ-royal-blue">
                            <a href="/faculty">
                                <span class="w-full text-occ-navy-blue text-base font-semibold leading-6">
                                    Faculty
                                </span>
                            </a>
                        </li>
                        <li class="w-full hover:underline py-2">
                            <a href="/courses">
                                <span class="w-full text-occ-navy-blue text-base font-semibold leading-6">
                                    Courses
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            
            <div class="flex-initial w-full lg:w-5/6 xl:6/7 h-full lg:pl-8 pt-2 flex flex-wrap items-start justify-start">
                <div class="flex-initial w-full">
                    <span class="capitalize text-occ-navy-blue text-3xl lg:text-5xl font-extrabold leading-7 lg:leading-12">
                        {{ fof.fofHeading }}
                    </span>
                </div>

                <div class="flex-initial w-full relative h-250px mt-4 lg:mt-8 bg-cover bg-bottom flex items-end justify-start" style="background-image: url({{ fof.fofBackgroundImage.one().getUrl('width2048') }} )">
                    <div class='color-overlay-gradient'></div>
                    <div class='flex-initial w-full px-7 lg:px-15 pb-10 z-5'>
                        <span class="text-white font-extrabold text-2xl leading-9">
                            {{ fof.fofText }}                        
                        </span>
                    </div>
                </div>

                <div class='flex-initial w-full mt-8'>
                    <div class='flex-initial w-full px-0 lg:px-15 flex items-center justify-start'>
                        <span class='flex-initial text-base font-normal leading-6 text-occ-text-black'>
                            {{ fof.fofBody }}                            
                        </span>
                    </div>
                </div>

                <div class='flex-initial w-full mt-8 flex items-center justify-start'>
                    <div class='flex-initial w-full px-0 lg:px-15 flex items-center justify-start'>
                        {% for link in fof.fofNav.all() %}
                            <span class='flex-initial'>
                                {%
                                    include '/_partials/navigation' with {
                                        link: link.linkMatrix.one()
                                    }
                                %}
                            </span>
                        {% endfor %}
                    </div>
                </div>

            </div>
            
        </div>
    </div>
{% endblock %}

{# {% js '/assets/js/404.js' %} #}
