{% extends '_layouts/main-with-sidebar-menu' %}

{% block title %}
    {{ parent() }} Concentration
{% endblock %}

{% block pageIntro %}
    {%
        include './_pages/concentrations/components/intro' with {
            heading: entry.headingText,
            body: entry.bodyText,
            hAlign: entry.hAlign,
            vAlign: entry.vAlign,
            zIndex: 'z-4',
        }
    %} 
{% endblock %}

{% block sideMenu %}
    {% include '/_pages/concentrations/components/side-menu' %}
{% endblock %}

{% block rightSideContent %}
    {% set sectionConfig = {anchor:'highlights',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/concentrations/components/highlights' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'audience',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/concentrations/components/audience' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'why-occ',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/concentrations/components/why-this-degree' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'sample-courses',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/concentrations/components/courses' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'faculty',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/concentrations/components/faculty' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'calendar',bgColor:'bg-white',zIndex:'z-2 lg:z-4'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/concentrations/components/apply' %}
        {% endblock %}
    {% endembed %}

{% endblock %}