{% extends '_layouts/main-with-sidebar-menu-full-intro' %}

{% block pageIntro %}
    {%
        include './_pages/admissions/components/intro' with {zIndex: 'z-3',}
    %} 
{% endblock %}

{% block sideMenu %}
    {% include '/_pages/admissions/components/side-menu' %}
{% endblock %}


{% block rightSideContent %}

    {% set sectionConfig = {anchor:'requirements',bgColor:'bg-white',zIndex:'z-1 lg:z-3'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/admissions/components/requirements' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'tuition',bgColor:'bg-white',zIndex:'z-1 lg:z-3'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/admissions/components/scholarships' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'calendar',bgColor:'bg-white',zIndex:'z-1 lg:z-3'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/admissions/components/calendar' %}
        {% endblock %}
    {% endembed %}

    {% set sectionConfig = {anchor:'faculty',bgColor:'bg-white',zIndex:'z-1 lg:z-3'} %}
    {% embed '/_partials/section' with sectionConfig %}
        {% block content %}
            {% include '/_pages/admissions/components/faculty' %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% css %}
{% endcss %}