<div class="flex-initial w-full md:w-10/12 h-full px-8 lg:px-12 pt-4 lg:pt-12 flex flex-wrap items-center justify-center bg-occ-light-gray">

    <div class="flex-initial w-full lg:px-8 pb-40">
        <div class="flex-initial w-full px-4 py-4 flex items-center justify-center">
            <span class="flex-initial text-occ-royal-blue text-xl font-extrabold heading-text">
                {{ entry.academicsTitle|upper }}
            </span>
        </div>
        <div class="flex-initial w-full md:px-4 py-4 flex items-center justify-center text-center">
            <h2 class="flex-initial">
                {{ entry.academicsSubtitle }}
            </h2>
        </div>
        <div class="flex-initial w-full px-4 lg:px-40 py-4 flex items-center justify-center">
            <span class="flex-initial text-xl font-normal leading-7 text-center heading-text">
                {{ entry.academicsBody }}
            </span>
        </div>
    </div>

</div>

<div class="flex-initial w-full h-full pb-4 lg:pb-8 flex flex-wrap items-center justify-center bg-white -mx-24">

    <div class="flex-initial w-full lg:w-10/12 px-6 -mt-32 flex flex-wrap items-center justify-items-center">
        {% for card in entry.academicCourses.all() %}
            <div class="flex-initial w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-2 my-4 mb-2 flex flex-wrap items-center justify-center">

                <div class="flex-initial w-11/12" style="box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);">
                    <div class="bp-player w-full plyr__video-embed player">
                        {% embed '/_partials/media-player' with {videoSrc: card.video} %}{% endembed %}
                    </div>

                    <div class="flex-initial w-full px-2 py-4 flex space-x-2 items-center">
                        <div class="w-12 h-12 text-white bg-occ-dark text-2xl hidden"></div>
                        <div class="flex-initial w-12 h-12 bg-occ-royal-blue flex items-center justify-center">
                            {{ svg( card.academicsCardIcon.one() ) }}
                        </div>
                        <span class="flex-initial p-0 text-occ-navy-blue text-xl leading-7 font-medium heading-text">
                            {{ card.title }}
                        </span>
                    </div>

                    <div class="flex-initial w-full h-28 px-4 py-4">
                        <span class="text-base font-normal leading-6 text-occ-text-gray">
                            {{ card.bodyText }}
                        </span>
                    </div>

                    <div class="flex-initial w-full flex items-center px-2 py-4 mt-2 bg-occ-royal-blue">
                        <span class="flex-initial pl-3">
                            {%
                                include  '/_partials/navigation' with {
                                    link: {
                                        text: 'Learn More',
                                        textCase: {value: 'capitalize'},
                                        internalAddress: null,
                                        externalAddress: card.getUrl(),
                                        anchor: null,
                                        target: {value: '_self'},
                                        textColor: {value: 'text-color-white'},
                                        textHoverColor: {value: 'text-hover-color-white'},
                                        textHoverUnderlineColor: {value: 'text-hover-underline-color-transparent'},
                                        icon: null,
                                        iconLocation: false,
                                        isButton: false,
                                        buttonBorderColor: {value: ''},
                                        buttonHoverBorderColor: {value: ''},
                                        buttonBackgroundColor: {value: ''},
                                        buttonHoverBackgroundColor: {value: ''},
                                        buttonStyle: {value: ''},
                                        forceCase: false,
                                        forceNoButton: false
                                    }
                                }
                            %}
                        </span>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

</div>

<div class="flex-initial w-full h-full pb-4 lg:pb-8 flex flex-wrap items-center justify-center bg-white">
    <div class="flex-initial w-full lg:w-10/12 px-6 flex flex-wrap lg:flex-nowrap items-center justify-center mt-8">
        <div class="">
            {% include '/_partials/navigation' with { link: (entry.academicsCoursesLink.one()).linkMatrix.one() } %}
        </div>
    </div>
</div>