{# community.twig #}
<div class="flex-initial w-full h-full px-4 py-12 flex flex-wrap items-center justify-center">
    <div class="flex-initial w-10/12 flex flex-wrap items-center justify-center lg:px-12 py-2">
        
        {# Left Block #}
        <div class="flex-initial w-full lg:w-1/2 h-full pr-6 flex flex-wrap items-start justify-start">
            <div class="flex-initial w-full flex flex-wrap space-y-4">
                <div class="flex-initial w-12 h-12 bg-occ-navy-blue flex items-center justify-center">
                    {{ svg( entry.communityIcons.one() ) }}
                </div>
                <div class="flex-initial w-full">
                    <h2 class="">
                        {{ entry.communityTitle }}
                    </h2>
                </div>
                <div class="flex-initial w-full">
                    <span class="text-lg font-normal heading-text">
                        {{ entry.communityBody }}
                    </span>
                </div>
            </div>
        </div>

        {# Right Block #}
        <div class="flex-initial w-full mt-12 lg:mt-0 lg:w-1/2 lg:pl-6">
            {% embed '/_partials/media-player' with {videoSrc: entry.communityVideo} %}{% endembed %}
        </div>
    </div>
</div>