{# faqs.twig #}
<div class="flex-initial w-full h-full px-4 py-12 flex flex-wrap items-start justify-center">
    <div class="flex-initial w-full md:w-10/12 flex flex-wrap md:flex-nowrap items-start justify-center">

        {# left block #}
        <div class="flex-initial w-full md:w-1/3 flex items-start justify-center py-4">
            <div class="flex-initial w-full md:w-10/12 py-4 flex flex-wrap items-center justify-center">
                
                <div class="flex-initial w-full px-8 md:px-0 flex justify-center">
                    <img class="flex-initial w-full" src="{{ entry.faqImage.one().getUrl('width2048') }}" alt="{{ entry.faqImage.one().altText }}" />
                </div>

                <div class="flex-initial w-full py-4 flex flex-wrap xl:flex-nowrap items-center justify-start">
                    {% for link in entry.faqNavigation.all() %}
                        <div class="flex-initial items-center justify-center mr-1 my-1">
                            {% include '/_partials/navigation' with {link: link.linkMatrix.one()} %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        {# right block #}
        <div class="faqs flex-initial w-full md:w-2/3 flex flex-wrap items-center justify-center px-4 md:px-6 py-4">
            <div class="flex-initial w-full md:w-11/12 mb-2 items-center justify-start">
                <p class="flex-initial text-4xl font-extrabold text-occ-navy-blue">
                    {{ entry.faqTitle }}
                </p>
            </div>
            {% for faq in entry.faqList.all() %}
                <div role="article" data-idx="{{loop.index0}}" class="container toggle flex-initial w-11/12 py-4 flex flex-wrap items-center justify-start cursor-pointer" tabindex="0">
                    <div class="flex-initial w-full flex items-center justify-between">
                        <span class="name flex-initial text-lg text-occ-navy-blue font-medium">
                            {{ faq.title }}
                        </span>
                        <i class="icon flex-initial fas fa-chevron-down"></i>
                    </div>
                    <div class="details hidden">
                        <div class="flex-initial w-full">
                            {{ faq.bodyText }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

{# {% js '/assets/js/faqs.js' %} #}