<div class="flex-initial w-full py-16 lg:w-10/12 flex flex-wrap lg:flex-nowrap items-center justify-center">
    <div class="flex-initial w-full h-full lg:w-1/2 flex items-center justify-center">

        <div class="flex-initial w-10/12 flex items-center justify-center">
            {% embed '/_partials/media-player' with {videoSrc: entry.introductionVideo} %}{% endembed %}
        </div>
    </div>

    <div class="flex-initial w-full py-4 lg:w-1/2 flex flex-wrap items-center justify-center">
        
        <div class="flex-initial w-10/12">
            <div class="flex-initial w-full mb-4 flex items-center justify-start">
                <div class="flex-initial w-12 h-12 bg-occ-royal-blue flex items-center justify-center">
                    {{ svg( entry.introductionIcon.one() ) }}
                </div>
            </div>

            <div class="flex-initial w-full mb-2 flex items-center justify-start">
                <div class="flex-initial flex">
                    <h2 class="heading">
                        {{ entry.introductionTitle }}
                    </h2>
                </div>
            </div>

            <div class="flex-initial w-full mb-4 flex items-center justify-start">
                <div class="flex-initial flex">
                    <div class="font-normal heading-text">
                        {{ entry.introductionBody }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>