{% embed '/_partials/section' with { 
        anchor: 'page-intro',
        wrapPadding: 'p-0',
        hAlign: entry.hAlign,
        vAlign: entry.vAlign,
        zIndex:'z-0',
    }
%}
    {% block content %}

        <div class="flex-initial w-full h-300px lg:h-750px min-h-300px lg:min-h-750px max-h-300px lg:max-h-750px p-0 m-0 flex items-start justify-center bg-no-repeat bg-cover bg-top" style="background-image: url({{ entry.pageIntroductionBackgroundImage.one().getUrl('wideScreen1920x1080') }})">
            <div class="color-overlay"></div>
        </div>

        <div class="flex-initial absolute top-0 lg:left-0 w-full h-full p-2 flex z-4 {{ vAlign }} {{ hAlign }}">
            <div class="flex-initial flex flex-wrap px-4 py-4 lg:px-20 lg:py-20 {{ hAlign }} {{ vAlign }}">

                {# Heading Text #}
                {% if entry.pageIntroductionBody is defined and entry.pageIntroductionBody is not empty %}
                    <div class="flex-initial w-full py-4 flex {{ entry.hAlign }}">
                        <h1 class="flex-initial text-center text-white text-3xl lg:text-5xl  leading-8 lg:leading-12 font-extrabold uppercase">
                            {{ entry.pageIntroductionTitle }}
                        </h1>
                    </div>
                {% endif %}

                {# Body Text #}
                {% if entry.pageIntroductionBody is defined and entry.pageIntroductionBody is not empty %}
                    <div class="text-white  text-lg leading-5 mt-2 mb-2 max-w-prose {{ entry.hAlign }}">
                        {{ entry.pageIntroductionBody }}
                    </div>
                {% endif %}

                <div class="flex-initial w-full py-4 flex flex-wrap md:flex-nowrap {{ hAlign }} items-center">
                    {% for link in entry.pageIntroductionNavigation.all() %}
                        <div class="flex-initial px-2 items-center justify-center mx-0 my-1 md:mx-1 md:my-0">
                            {% include '/_partials/navigation' with {link: link.linkMatrix.one()} %}
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    {% endblock %}
{% endembed %}