{# tution.twig #}
<div class="flex-initial w-full h-full py-8 flex flex-wrap items-center justify-center">
    <div class="flex-initial w-full lg:w-10/12 flex flex-wrap lg:flex-nowrap items-start justify-center">

        {# left block #}
        <div class="flex-initial w-full xl:w-1/3 flex items-center justify-center px-0 xl:px-4 py-4">
            <div class="flex-initial w-full md:w-11/12 px-10 md:px-10 py-4 flex flex-wrap items-start justify-start bg-occ-light-gray">

                <h2 class="flex-initial w-full text-left">
                    {{ entry.tuitionScholarshipsTitle }}
                </h2>

                <div class="flex-initial w-full mt-6 text-left text-lg font-normal leading-6 text-occ-navy-blue heading-text">
                    {{ entry.tuitionScholarshipsBody}}
                </div>

                <div class="flex-initial w-full mt-6 text-left text-base text-occ-navy-blue font-semibold">
                    {% set link = entry.tuitionScholarshipsNav.one() %}
                    {%
                        include '/_partials/navigation' with {link: link.linkMatrix.one()}
                    %}
                </div>

            </div>
        </div>

        {# right block #}
        <div class="scholarships flex-initial w-11/12 lg:w-2/3 flex flex-wrap items-start justify-center px-6 py-4">
            {% for ss in entry.tuitionScholarships.all() %}
                <div role="article" data-idx="{{loop.index0}}" class="container toggle flex-initial w-full lg:w-11/12 py-4 flex flex-wrap items-center justify-start cursor-pointer" tabindex="0">
                    <div class="flex-initial w-full flex items-center justify-between">
                        <span class="name flex-initial text-xl text-occ-navy-blue font-medium leading-7">
                            {{ ss.scholarships.scholarshipName }}
                        </span>
                        <i class="icon flex-initial fas fa-chevron-down"></i>
                    </div>
                    <div class="details hidden leading-6">
                        <p class="flex-initial w-full">
                            <span class="text-occ-royal-blue text-base font-bold">
                                Award Amount:
                            </span>
                            <span class="text-base font-normal">
                                {{ ss.scholarships.awardAmount }}
                            </span>
                        </p>
                        <p class="flex-initial w-full">
                            <span class="text-occ-royal-blue text-base font-bold">
                                Application Qualifications:
                            </span>
                            <span class="text-base font-normal">
                                {{ ss.scholarships.qualifications }}
                            </span>
                        </p>
                        <p class="flex-initial w-full">
                            <span class="text-occ-royal-blue text-base font-bold">
                                Eligibility Considerations:
                            </span>
                            <span class="text-base font-normal">
                                {{ ss.scholarships.requirements }}
                            </span>
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</div>

{# {% js '/assets/js/scholarships.js' %} #}