<div class="flex-initial w-full h-full px-12 lg:px-20 py-16 flex flex-wrap items-center justify-center">
    <div class="flex-initial w-full lg:w-10/12 h-2 flex items-center justify-center bg-occ-navy-blue">
        &nbsp;
    </div>
    <div class="flex-initial w-full lg:w-10/12 h-full py-10 flex flex-wrap items-center justify-center bg-white"  style="box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);">
        <div class="flex-initial w-full py-4 flex items-center justify-center">
            <h2 class="">
                {{ entry.startTodayTitle }}
            </h2>
        </div>

        <div class="flex-initial w-full py-4 flex flex-wrap lg:flex-nowrap space-y-2 lg:space-y-0 items-center justify-center">

            <div class="flex-initial w-full py-4 flex flex-wrap md:flex-nowrap items-center justify-center">
                {% for link in entry.startTodayNavigation.all() %}
                    <div class="flex-initial px-2 items-center justify-center mx-0 my-1 md:mx-1 md:my-0">
                        {% include '/_partials/navigation' with {link: link.linkMatrix.one()} %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>