<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
{# font-family: 'Inter', sans-serif; #}
{# font-family: 'montserrat', sans-serif; #}

{# <link rel="preconnect" href="https://fonts.googleapis.com" /> #}
{# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> #}
{# <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet" /> #}
{# font-family: 'Special Elite', cursive; #}

{# <link rel="preconnect" href="https://fonts.googleapis.com" /> #}
{# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> #}
{# <link href="https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap" rel="stylesheet" /> #}
{# font-family: 'Life Savers', cursive; #}