{% macro subNav(sl) %}
    {% set url = null %}

    {% if sl.internalAddress.one() is defined and sl.internalAddress.one is not empty %}
        {% set url = sl.internalAddress.one().getUrl() %}
    {% elseif sl.externalAddress is defined and sl.externalAddress is not empty %}
        {% set url = sl.externalAddress %}
    {% endif %}

    {% if sl.anchor is defined and sl.anchor is not empty %}
        {% set url = url ~ '#' ~ sl.anchor %}
    {% endif %}

    {% if sl.internalAddress.one()|length %}
        <a href="{{ url }}" class="main-navigation-sub-link flex-initial w-full">
            <div class="flex-initial w-full px-4 py-4 flex items-center justify-start hover:text-white hover:bg-occ-navy-blue border-t border-b border-solid border-occ-gray">
                <span>
                    {{ sl.text }}
                </span>
            </div>
        </a>
    {% endif %}
{% endmacro %}

{% macro buildSubNav(theSubLinks, index) %}

    {% set left = 'left-0' %}
    {% if index > 0 %}
        {% set left = 'left-64' %}
    {% endif %}

    {% set top = 'top-14' %}
    {% if index > 0 %}
        {% set top = '-top-px' %}
    {% endif %}

    <div class="sub-menu invisible text-occ-royal-blue flex flex-initial w-64 absolute {{ top }} {{ left }} flex-wrap items-center justify-start z-10 bg-white border border-solid border-occ-gray shadow-lg">
        <ul class="w-full">
            {% for subLink in theSubLinks %}
                <li class="w-full relative">
                    {{ _self.subNav(subLink.linkEntries.one().linkMatrix.one()) }}

                    {% if subLink.children().count() > 0 %}
                        {{ _self.buildSubNav( subLink.children().all(), loop.index ) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

<div class="top-9 top-10 top-11 top-12 top-13 top-14 top-15 top-16 hidden"></div>
<div class="flex-initial w-full flex items-center justify-end space-x-4 bg-white">
    <nav class="hidden lg:flex w-full nav items-center justify-end space-x-2">
        <div class="flex-initial relative flex justify-end w-2/3">
            <ul class="main-menu list-none inline-flex items-center justify-start">
            {% for link in craft.entries.section('menus').slug('main-menu').one().children().all() %}
                <li class="main-menu-item pr-4 flex items-center justify-center relative">
                    {%
                        include '/_partials/navigation' with {
                            link: link.linkEntries.one().linkMatrix.one(),
                            additionalClass: 'py-4'
                        }
                    %}

                    {% if link.children().count() > 0 %}
                        {{ _self.buildSubNav( link.children().all(), 0 ) }}
                    {% endif %}

                </li>
            {% endfor %}
            </ul>
        </div>
    </nav>
</div>


{% css %}

    .main-menu .main-menu-item:hover > .sub-menu {
        visibility: visible;
    }

    li:hover > .sub-menu {
        visibility: visible;
    }

    .main-menu-item:last-child {
        padding-right: 0px;
    }

{% endcss %}