{% set level = 0 %}

{% macro subNav(sl) %}
    {% set url = null %}

    {% if sl.internalAddress.one() is defined and sl.internalAddress.one is not empty %}
        {% set url = sl.internalAddress.one().getUrl() %}
    {% elseif sl.externalAddress is defined and sl.externalAddress is not empty %}
        {% set url = sl.externalAddress %}
    {% endif %}

    {% if sl.anchor is defined and sl.anchor is not empty %}
        {% set url = url ~ '#' ~ sl.anchor %}
    {% endif %}

    {% if sl.internalAddress.one()|length %}
        <div class="flex-initial w-full flex items-center justify-start">
            <a href="{{ url }}" class="main-navigation-sub-link flex-initial w-full">
                <div class="flex-initial w-full px-4 py-1 flex items-center justify-start hover:text-white hover:bg-occ-navy-blue">
                    <span>
                        {{ sl.text }}
                    </span>
                </div>
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% macro buildSubNav(theSubLinks, level) %}

    {% set padding = 'pl-' ~ (level * 4) %}

    <div class="sub-menu-mobile text-occ-royal-blue flex flex-initial w-full flex-wrap items-center justify-start z-10 bg-white {{ padding }}">
        <ul class="flex-initial w-full flex flex-wrap items-center justify-start">
            {% for subLink in theSubLinks %}
                <li class="w-full relative">
                    {{ _self.subNav(subLink.linkEntries.one().linkMatrix.one()) }}

                    {% if subLink.children().count() > 0 %}
                        {% set level = (level + 1) %}
                        {{ _self.buildSubNav( subLink.children().all(), level ) }}
                        {% set level = (level - 1) %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{# mobile menu #}
<div id="mm-wrapper" class="flex lg:hidden">
    <i class="burger-menu-icon open fas fa-bars text-occ-navy-blue"></i>
    <i class="burger-menu-icon close fas fa-times text-occ-navy-blue"></i>
</div>

<div class="mobile-menu close fixed top-20 left-0 w-full h-full bg-white text-primary z-50 lg:hidden">
    <div class="flex-initial w-full h-full px-8 bg-white z-50">
    <div class="pl-0 pl-4 pl-8 pl-16 hidden"></div>


        <ul class="main-menu-mobile list-none w-full items-center justify-start">
        {% for link in craft.entries.section('menus').slug('main-menu').one().children().all() %}

            <li class="main-menu-item-mobile w-full flex flex-wrap items-center justify-start relative">

                {% include '/_partials/navigation' with {
                        link: link.linkEntries.one().linkMatrix.one(),
                        forceNoButton: true,
                        forceCase: 'capitalize',
                        additionalClass: 'main-mobile-nav-link'
                    }
                %}

                {% if link.children().count() > 0 %}
                    {% set level = (level + 1) %}
                    {{ _self.buildSubNav( link.children().all(), level ) }}
                    {% set level = (level - 1) %}
                {% endif %}

            </li>
        {% endfor %}
        </ul>

    </div>

</div>

{% css %}

    .burger-menu-icon {
        font-size: 1.875rem;
        line-height: 2.25rem;
        width: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }

    .open {
        display:block;
    }

    .close {
        display:none;
    }

    .mobile-main-nav-link {
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }

    .mobile-main-nav-link.mobile-main-nav-link--active {
        border-bottom-color: orange;
        color: orange;
    }

    .mobile-link-container {
        position: relative;
    }

    .sub-nav-link {
        padding: .5rem 1rem;
        width: 100%;
    }

    .sub-nav-link.open {
        display:block;
    }

    .sub-nav-link.close {
        display:none;
    }

    .wrapper {
        padding: .25rem 0rem .25rem 0rem;
    }
{% endcss %}

{# {% js '/assets/js/mobile-nav.js' %} #}