{% set request = craft.app.request %}

{% set instructor = null %}
{% if request.getParam('instructor') is not empty %}
    {% set instructor = craft.entries.section('facultyEntries').slug(request.getParam('instructor')).one() %}
{% endif %}

{% if request.getParam('degree') is not empty and instructor is defined and instructor is not empty %}
    {%
        set queryResults = entry.courseEntries.slug(request.getParam('degree')).relatedTo(
            [ 'and', instructor ]
        ).with(['courses.entries:classList']).all()
    %}
{% elseif request.getParam('degree') is not empty %}
    {%
        set queryResults = entry.courseEntries.slug(request.getParam('degree')).with(['courses.entries:classList']).all()
    %}
{% elseif instructor is defined and instructor is not empty %}
    {%
        set queryResults = entry.courseEntries.relatedTo(
            [ 'and', instructor ]
        ).with(['courses.entries:classList']).all()
    %}
{% else %}
    {%
        set queryResults = entry.courseEntries.with(['courses.entries:classList']).all()
    %}
{% endif %}

<div role="list" id="course-entries" class="flex-initial relative w-full h-full flex flex-wrap items-center justify-between bg-white">
    {% for study in queryResults %}
        {% set counter = loop.index %}
        <div id="{{ study.slug }}" data-slug="{{ study.slug }}" class="study-slug flex-initial w-full {% if not loop.last %}mb-10{% endif %}">
            <div class="flex-initial w-full flex items-start justify-start pb-4 border-b border-occ-navy-blue border-solid">
                <span class="flex-initial  font-extrabold text-2xl lg:text-4xl leading-7 text-occ-royal-blue">
                    {{ study.title }}
                </span>
            </div>
            {% include '_partials/components/course-accordion' with { classList: study.courses } %}
        </div>
    {% else %}
        no results
    {% endfor %}
</div>

{# {% js '/assets/js/accordion.js' %} #}
{% js %}
    let accordions = [];
    let slugs = Array.from(document.querySelectorAll('.study-slug'));
    slugs.forEach( function(el) {
        accordions.push(
            new Accordion(
                `#${el.dataset.slug}`,
                '.course-container',
                '.course-description',
                '.icon'
            )
        );
    });
{% endjs %}
