<div class="flex-initial w-full mb-4 lg:hidden flex items-center justify-center z-40">

    <div id="mobile-courses-filter-by" class="flex-initial w-full">
        <div id="mobile-courses-filter-by-button" class="bt-link cursor-pointer">
            <div class="b-link btn-border-color-secondary btn-hover-border-color-secondary btn-bgcolor-secondary btn-hover-background-color-secondary rectangle flex items-center justify-center">
                <span class="text flex items-center justify-center text-color-white text-hover-color-white text-hover-underline-color-transparent capitalize mr-2">
                    Filter
                </span>
                <i class="fas fa-filter text-occ-cyan"></i>
            </div>
        </div>

        <div id="mobile-courses-filter-by-content" class="flex-initial w-full h-full p-4 fixed z-99999 top-16 left-0 bg-white" style="display:none;">
            {%
                include '/_pages/degree-courses/components/form-filter' with {
                    formId: "mobile"
                }
            %}
        </div>
    </div>

</div>

{% js %}

    document.querySelector(
        '#mobile-courses-filter-by #mobile-courses-filter-by-button'
    ).addEventListener('click', function(e) {
        let selector = '#mobile-courses-filter-by #mobile-courses-filter-by-content';
        let content = document.querySelector(selector);
        content.style.display = 'block';
        
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera        
    });

    document.querySelector(
        '#mobile-courses-filter-by #mobile-courses-filter-by-content #form-close'
    ).addEventListener('click', function() {
        let selector = '#mobile-courses-filter-by #mobile-courses-filter-by-content';
        let content = document.querySelector(selector);
        content.style.display = 'none';
        document.body.scrollTop = prevPos; // For Safari
    });

{% endjs %}