<form class="flex-initial w-full flex flex-wrap" method="GET" action"" id="form-search">

    <div class="flex-initial w-full py-2 flex items-center justify-between border-b-2 border-solid border-occ-navy-blue">
        {# <div class="flex-initial w-full 2xl:w-auto"> #}
        <div class="flex-initial w-auto">
            <span class=" font-extrabold text-xl text-occ-navy-blue">
                Filter
            </span>
        </div>

        <div data-form="form-role" id="form-reset" class="flex-initial w-auto items-center justify-end hidden lg:flex">
            {# <input id="degree-course-reset" class="bg-white text-occ-royal-blue w-auto font-semibold text-xs py-1 underline cursor-pointer" type="reset" value="Clear All" /> #}
            {# <input id="degree-course-reset" class="bg-white text-occ-royal-blue w-auto font-semibold text-xs py-1 underline cursor-pointer" type="reset" value="Clear All" /> #}
            <a href="/{{ request.getFullPath() }}" class="">
                <div class="bg-white text-occ-royal-blue font-semibold text-xs py-1 underline cursor-pointer">
                    Clear All
                </div>
            </a>
        </div>

        <div data-form="form-role" id="form-close" class="flex-initial cursor-pointer rounded-md flex lg:hidden items-center justify-end">
            <div class="flex-initial w-12 h-12 flex items-center justify-center">
                <i class="flex-initial text-occ-navy-blue fas fa-times-circle fa-2x"></i>
            </div>
        </div>
    </div>

    <div class="flex-initial w-full mt-2 py-2">

        <div class="flex-initial w-full text-xs font-extrabold text-occ-text-gray uppercase mb-2">
            Degree Option
        </div>

        <fieldset form="form-search-{{ formId }}" name="concentrations">
            {% for course in craft.entries.section('concentrations').level(1).all() %}
                {% set selected = '' %}
                {% if course.slug is same as(degree) %}
                    {% set selected = 'selected' %}
                {% endif %}
                <div class="flex-initial w-full group font-normal text-base text-occ-royal-blue leading-7">
                    <input class="degree-course-item" type="checkbox" id="{{ course.slug }}" name="degree[]" value="{{ course.slug }}" {{selected}}>
                    <label for="{{ course.slug }}" class="group-hover:underline">{{ course.title }}</label>
                </div>
            {% endfor %}
        </fieldset>

    </div>

    {# Submit Button #}
    <div class="flex-initial w-full py-2 flex items-center justify-start">
        <input class="flex-initial px-4 py-1 bg-occ-royal-blue text-white hover:bg-occ-navy-blue" type="submit" value="Search" />
    </div>

</form>

{# {% js %}
    window.addEventListener('load', function() {

        document.getElementById('degree-course-reset').addEventListener('click', function() {
            let courses = Array.from(document.querySelectorAll('.degree-course-item'));
            for(let i=0; i<courses.length; i++) {
                courses[i].removeAttribute('checked');
            }
        });

    });
{% endjs %} #}