<div id="side-menu" class="flex-initial w-full h-full hidden lg:flex flex-wrap">
    {%
        include '/_pages/degree-courses/components/form-filter' with {
            formId: "desktop"
        }
    %}
</div>

{% css %}
{% endcss %}
